{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

<div class="page_content_wrap wrap_custom">

		<section class="content_wrap">
			<div class="container">
				<div class="row">
					<article class="post_item post_item_404">
						<div class="post_content">
							<h1 class="page_title">404</h1>
							<h2 class="page_subtitle">A página não pode ser encontrada</h2>
							<p class="page_description">Não conseguimos encontrar seu pedido? <br/>Tente procurar de novo pela nossa 
								<a href="{% url 'index' %}">página principal</a>.
							</p>
						</div>
					</article>
				</div>
			</div>
		</section>

</div>

{% endblock content %}
