{% extends 'blog/base-home.html' %} {% load staticfiles %} {% block content %}

<section id="mainslider_1" class="slider_wrap slider_fullwide slider_engine_revo slider_alias_slider-home mainslider_1">
	<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
		<div id="rev_slider_1" class="rev_slider fullwidthabanner">
			<ul>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
					<img src="{% static 'images/slider-1-bg.jpg' %}" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="78" data-speed="1200" data-start="450" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
					  data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-1-bottom.png' %}" alt="">
					</div>
					<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="-38" data-y="36" data-speed="800" data-start="250" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-1-top.png' %}" alt="">
					</div>
					<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-115" data-y="center" data-voffset="148" data-speed="1100" data-start="400" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-1-left.png' %}" alt="">
					</div>
					<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="-10" data-y="center" data-voffset="120" data-speed="1100" data-start="550" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
					  data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-1-right.png' %}" alt="">
					</div>
					<div class="tp-caption sft  slider-1-slide-1-top-left rs-parallaxlevel-0" data-x="-14" data-y="-4" data-speed="800" data-start="250" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-1-top-left.png' %}" alt="">
					</div>
				</li>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
					<img src="{% static 'images/slider-1-bg.jpg' %}" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="132" data-y="bottom" data-voffset="80" data-speed="1200" data-start="250" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
					  data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-2-bottom.png' %}" alt="">
					</div>
					<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="24" data-y="-80" data-speed="800" data-start="450" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-2-top.png' %}" alt="">
					</div>
					<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-48" data-y="center" data-voffset="103" data-speed="1100" data-start="550" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-2-left.png' %}" alt="">
					</div>
					<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="313" data-y="-22" data-speed="1100" data-start="400" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-2-right.png' %}" alt="">
					</div>
					<div class="tp-caption sfl  slider-1-slide-1-left-top rs-parallaxlevel-0" data-x="-29" data-y="44" data-speed="1100" data-start="550" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-2-left-top.png' %}" alt="">
					</div>
				</li>
				<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
					<img src="{% static 'images/slider-1-bg-2.jpg' %}" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
					<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="115" data-y="bottom" data-voffset="119" data-speed="1200" data-start="400" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
					  data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-3-bottom.png' %}" alt="">
					</div>
					<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="76" data-y="-63" data-speed="800" data-start="550" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{%static 'images/slider-1-slide-3-top.png' %}" alt="">
					</div>
					<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-219" data-y="center" data-voffset="-28" data-speed="1100" data-start="450" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-3-left.png' %}" alt="">
					</div>
					<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="71" data-y="center" data-voffset="-32" data-speed="1100" data-start="250" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1"
					  data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-3-right.png' %}" alt="">
					</div>
					<div class="tp-caption sfl  slider-1-slide-1-left-bottom rs-parallaxlevel-0" data-x="-224" data-y="552" data-speed="1100" data-start="550" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
						<img src="{% static 'images/slider-1-slide-3-left-bottom.png' %}" alt="">
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>
<section id="mainslider_2">
	<div class="sc_section">
		<h1 class="sc_title aligncenter styling1 margin_bottom_small"></h1>
	</div>
	<div class="page_content_wrap wrap_custom">
		<div id="myCarousel" class="carousel slide img-responsive" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class=""></li>
				<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="{% static 'images/home-3-slide1.jpg' %}">
					<div class="container">
						<div class="carousel-caption">
							<h1 class="cordafonte">Quem Somos?</h1>
							<h3 class="cordafonte">Conheça-nos e se surpreenda!</h3>
							<p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="{% url 'quem' %}" role="button">Quem Somos</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="{% static 'images/home-3-slide4.jpg' %}">
					<div class="container">
						<div class="carousel-caption cordafonte">
							<h1 class="cordafonte">Equipe</h1>
							<h3 class="cordafonte">Conheça a equipe que faz parte da nossa escola!</h3>
							<p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="{% url 'equipe' %}" role="button">Equipe</a></p>
						</div>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="{% static 'images/home-3-slide5.jpg' %}">
					<div class="container">
						<div class="carousel-caption">
							<h1 class="cordafonte">Nossos Serviços</h1>
							<h3 class="cordafonte">Fique por dentro das nossas especialidades!</h3>
							<p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="{% url 'servicos' %}" role="button">Serviços</a></p>
						</div>
					</div>
				</div>
			</div> <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

		</div>
</section>

<link rel='stylesheet' href="{% static 'js/custom/core.messages/core.messages.css' %}" type='text/css' media='all' />
<section id="page-blog" class="content_wrap isotope_section">
	<div class="container">
		<div class="row">
			<div class="sc_section bg_tint_light">
				<h1 class="sc_title aligncenter styling1 margin_bottom_small">Novidades</h1>
				<div class="sc_blogger layout_classic_4 template_masonry sc_blogger_horizontal">
					<div class="isotope_wrap" data-columns="4">

						{% if curso != None %}
						<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
							<div class="post_item post_item_classic post_item_classic_4 post_format_standard even last">
								<div class="post_featured">
									<div class="" data-image="{{ curso.imagem_url }}" data-title="{{ curso.nome }}">
										<a class="hover_icon hover_icon_link" href="{% url 'curso' pk=curso.pk %}">
											<img alt="{{ curso.nome }}" src="{{ curso.imagem_url }}" class="img-post-index">
										</a>
									</div>
								</div>

								<div class="post_content isotope_item_content">
									<h4 class="post_title">
										<a href="{% url 'curso' pk=curso.pk %}">{{ curso.nome }}</a>
									</h4>
									<div class="post_descr">
										<p class="text-justify">{{ curso.descricao|striptags|safe|truncatewords:"10" }}</p>
									</div>
									<div class="post_info">
										<span class="post_info_item post_info_posted">
											Postado
											<a href="{% url 'curso' pk=curso.pk %}" class="post_info_date">{{ curso.data_de_publicacao }}</a>
										</span>
									</div>
									<a href="{% url 'curso' pk=curso.pk %}" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
										<span>LER</span>
										<span>LER</span>
									</a>
								</div>
							</div>
						</div>
						{% endif %}

						{% for post in posts|slice:"3" %}
						<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
							<div class="post_item post_item_classic post_item_classic_4	post_format_standard">
								<div class="post_featured">
									<div class="" data-image="{{ post.imagem_url }}" data-title="{{ post.titulo }}">
										<a class="hover_icon hover_icon_link" href="{% url 'post' pk=post.pk %}">
											<img alt="{{ post.titulo }}" src="{{ post.imagem_url }}" class="img-post-index">
										</a>
									</div>
								</div>
								<div class="post_content isotope_item_content">
									<h4 class="post_title">
										<a href="{% url 'post' pk=post.pk %}">{{ post.titulo }}</a>
									</h4>
									<div class="post_descr">
										<p class="text-justify">{{ post.texto|striptags|safe|truncatewords:"10" }}</p>
									</div>
									<div class="post_info">
										<span class="post_info_item post_info_posted">
											Postado
											<a href="{% url 'post' pk=post.pk %}" class="post_info_date">{{ post.data_de_publicacao }}</a>
										</span>
									</div>
									<a href="{% url 'post' pk=post.pk %}" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
										<span>LER</span>
										<span>LER</span>
									</a>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="sc_section aligncenter">
					<a href="{% url 'blog' %}" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
											<span>VER MAIS</span>
											<span>VER MAIS</span>
										</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="page-busca" class="block_bg">
	<div class="container">
		<div class="row">
			<div class="sc_section aligncenter">
				<div class="sc_content content_wrap">
					<h1 class="sc_title sc_title_regular sc_align_center styling1">Busca Cervejeira</h1>
					<div class="sc_section aligncenter">
						<p>Faça uma busca inteligente da cerveja que você quer.</p>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-3">
							<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
								<img src="{% static 'images/beer-1.png' %}" alt="" />
							</figure>
							<h5 class="sc_title sc_title_regular sc_align_center">PILSNER</h5>
							<p>.</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3">
							<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
								<img src="{% static 'images/beer-2.png' %}" alt="" />
							</figure>
							<h5 class="sc_title sc_title_regular sc_align_center">STOUTS</h5>
							<p>.</p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3">
							<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
								<img src="{% static 'images/beer-3.png' %}" alt="" />
							</figure>
							<h5 class="sc_title sc_title_regular sc_align_center">PALE ALE</h5>
							<p></p>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-3">
							<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
								<img src="{% static 'images/beer-4.png' %}" alt="" />
							</figure>
							<h5 class="sc_title sc_title_regular sc_align_center">BROWN ALE</h5>
							<p></p>
						</div>
					</div>
				</div>
				<a href="{% url 'cervejas' %}" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
										<span>FAÇA UMA BUSCA</span>
										<span>FAÇA UMA BUSCA</span>
									</a>
			</div>
		</div>
	</div>
</section>

<section id="page-contato" class="bg_image_10 bg_tint_light">
	<div class="sc_content content_wrap">
		<h1 class="sc_title sc_title_regular aligncenter styling1">Spotbeer</h1>
		<div class="sc_section aligncenter styling1">
			<p>Encontre os locais parceiros da Escola Cervejeira.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-offset-2 col-md-8">
			<div class="map-responsive">
			<style>
								#map-canvas {
										height: 600px;
								}
						</style>
							<div id="map-canvas"></div>

							<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFrI6Y_WjMt52XCbBodMBJeKmPvwK36Q"></script>
							<script>
							function initialize() {
								var mapOptions = {
									zoom: 13,
									clickable: true,
									scrollwheel: true,
									center: {lat: -3.737121, lng: -38.547097},
									width: 720,
									height: 720
								}
								var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
								var bounds = new google.maps.LatLngBounds();
								var pin = '../../static/images/icons/pin.png';

								function addMarker(lat, lng, title, infowindow) {
									console.log('lat:: ' + lat);
									var position = new google.maps.LatLng(lat, lng);
									var marker = new google.maps.Marker({
										position: position,
										map: map,
										title: title,
										icon: pin,
									});

									marker.addListener('click', function() {
										infowindow.open(map, marker);
									});
									return marker;
								}


								{% for poi in pois %}
								var contentString = '<div id="content" class="contents">'+
								'<div id="siteNotice">'+
								'</div>'+
								'<h2 id="firstHeading" class="firstHeading">{{poi.nome}}</h2>'+
								'<div id="bodyContent">'+
								'<p>{{poi.endereco}}</p>'+
								'</div>'+
								'</div>';

								var infowindow = new google.maps.InfoWindow({
									content: contentString
								});

								var marcador = addMarker({{ poi.position }}, "teste", infowindow);
								{% endfor %}
							}
							google.maps.event.addDomListener(window, 'load', initialize);
							</script>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="content_wrap">
				<div class="columns_wrap">
					<div class="column-1_2 sc_column_item hidden-sm hidden-xs">
						<figure class="hidden-sm hidden-xs sc_image  sc_image_shape_square sc_image_styled">
							<img src="{% static 'images/contact.jpg' %}" alt="" />
						</figure>
					</div>
					<div class="column-1_2 sc_column_item">
						<div class="sc_contact_form sc_contact_form_standard alignleft contact_form_1">
							<h2 class="">Entre em contato!</h2>
							<p class="subtitle sc_contact_form_description">Preencha o formulário para entrar em contato conosco. Seu email não será divulgado.</p>
							<form method="post" action="">{% csrf_token %}
								<div class="sc_contact_form_info">
									<div class="sc_contact_form_item sc_contact_form_field label_over">
										<input type="text" name="nome" id="contact_form_username" placeholder="Nome *">
									</div>
									<div class="sc_contact_form_item sc_contact_form_field label_over">
										<input type="text" name="email" id="contact_form_email" placeholder="Email *">
									</div>
								</div>
								<div class="message sc_contact_form_item sc_contact_form_message label_over">
									<textarea id="contact_form_message" class="textAreaSize" name="mensagem" placeholder="Mensagem *"></textarea>
								</div>
								<div class="sc_contact_form_item sc_contact_form_button">
									<div class="squareButton sc_button_size sc_button_style_global global">

										<button type="submit">ENVIAR</button>
									</div>
								</div>

								<div class="result sc_infobox"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</div>

{% endblock content %}
