{% extends 'blog/base-post.html' %}
{% load staticfiles %}

{% block content %}

								<article class="post_item post_item_single post">
									<section class="">
										<div class="post_thumb" data-image="{{ post.picture_url|default_if_none:'#' }}" data-title="{{ post.title }}">
											<a class="hover_icon hover_icon_view" href="{{ post.picture_url|default_if_none:'#' }}" title="{{ post.title }}">
												<img class="wp-post-image" alt="{{ post.title }}" src="{{ post.picture_url|default_if_none:'#' }}" >
											</a>
										</div>
									</section>
									<div class="post_info">
										<span class="post_info_item post_info_posted">
											Postado em
											<a href="#" class="post_info_date date updated" content="">{{ post.published_date }}</a>
										</span>
										<!-- <span class="post_info_item post_info_tags">
											em
											<a class="category_link" href="#">Masonry (3 columns)</a>,
											<a class="category_link" href="#">Portfolio (3 columns)</a>
										</span>
										<span class="post_info_item post_info_counters">
											<span class="post_counters_item post_counters_views icon-eye" title="Views - 225">225</span>
											<a class="post_counters_item post_counters_comments icon-comment-1" title="Comments - 0" href="#comments">
												<span class="post_counters_number">0</span>
											</a>
											<a class="post_counters_item post_counters_likes icon-heart enabled" title="Like" href="#" data-postid="144" data-likes="1" data-title-like="Like" data-title-dislike="Dislike">
												<span class="post_counters_number">1</span>
											</a>
										</span> -->
									</div>
									<section class="post_content">
										<div class="sc_reviews alignright">
										</div>
										<p>{{ post.text|linebreaksbr}}</p>
										<div class="post_info post_info_bottom">
											<!-- <span class="post_info_item post_info_tags">
												Tags:
												<a class="post_tag_link" href="#">masonry</a>
											</span> -->
										</div>
									</section>
									<section class="post_author author vcard">
										<div class="post_author_avatar">
											<a href="#">
												<img alt='' src="{% static 'images/no-ava2.jpg' %}" srcset="{% static 'images/no-ava2.jpg' %}" class='avatar avatar-75 photo'/>
											</a>
										</div>
										<h6 class="post_author_title">Sobre <span>
											<a href="{% url 'member' %}" class="fn">{{ post.author}}</a>
										</span>
										</h6>
										<div class="post_author_info">
										</div>
									</section>
								</article>

{% endblock %}
