{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
<div class="page_top_wrap page_top_title page_top_breadcrumbs">
	<div class="content_wrap">
		<div class="breadcrumbs">
			<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
			<span class="breadcrumbs_delimiter"></span>
			<a class="breadcrumbs_item home" href="{% url 'blog' %}">Blog</a>
			<span class="breadcrumbs_delimiter"></span>
			<span class="breadcrumbs_item current">{{ post.titulo }}</span>
		</div>
		<h1 class="page_title">Blog Post</h1>
	</div>
</div>

<div class="page_content_wrap wrap_custom">

		<section class="content_wrap">
			<div class="container">
				<div class="row">

						<article class="post_item post_item_single post">
									<section class="">
										<div class="post_thumb" data-image="{{ post.imagem_url|default_if_none:'#' }}" data-title="{{ post.titulo }}">
											<h2>{{ post.titulo }}</h2>
											<a class="hover_icon hover_icon_view" href="{{ post.imagem_url|default_if_none:'#' }}" title="{{ post.titulo }}">
												<img class="wp-post-image" alt="{{ post.titulo }}" src="{{ post.imagem_url|default_if_none:'#' }}" >
											</a>
										</div>
									</section>
									<div class="post_info">
										<span class="post_info_item post_info_posted">
											Postado em
											<a href="#" class="post_info_date date updated" content="">{{ post.data_de_publicacao }}</a>
										</span>
									</div>
									<section class="post_content">
										<div class="sc_reviews alignright">
										</div>
										<p class="text-justify">{{ post.texto|safe }}</p>
										<div class="post_info post_info_bottom">
										</div>
									</section>
									<section class="post_author author vcard">
										<h6 class="post_author_title">Autor<span>
											<a href="#" class="fn">{{ post.autor }}</a>
										</span>
										</h6>
										<div class="post_author_info">
										</div>
									</section>
								</article>

				</div>
			</div>
		</section>

</div>
{% endblock %}
