{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item home" href="{% url 'servicos' %}">Serviços</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Consultoria</span>
					</div>
					<h1 class="page_title">Consultoria</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

				<section class="content_wrap">
					<div class="container">
						<p class="text-justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec ornare odio, mattis elementum ipsum. Integer sed arcu lacus. Aliquam vulputate nisi euismod, pulvinar turpis et, feugiat urna. Pellentesque in risus commodo, venenatis purus a, dapibus lorem. Quisque eget elit in lacus fermentum lacinia in at est. Donec tristique dictum euismod. Cras at turpis efficitur sem ullamcorper vestibulum. Donec ipsum tellus, viverra id ligula a, porttitor vestibulum tellus. Aenean tincidunt blandit tellus, consequat elementum elit hendrerit at. Donec vestibulum, tortor quis congue feugiat, nunc odio tempus ex, sed auctor massa lacus vitae lorem. Aenean non sagittis arcu. Integer tristique enim sed velit rutrum, ac rutrum turpis molestie. Donec in aliquet diam. Ut eu augue vel felis fermentum blandit nec et diam. Duis scelerisque sem risus, a volutpat enim blandit eu. Nulla ut laoreet est.

Ut vehicula eleifend quam, non lacinia erat hendrerit vitae. Etiam id aliquet odio. Pellentesque tristique erat tellus, sit amet iaculis dui varius in. Mauris laoreet arcu vel purus maximus semper. Duis elit est, maximus id magna quis, tincidunt sollicitudin erat. Suspendisse potenti. Pellentesque luctus lacus eu tristique iaculis. Fusce mollis, libero sed imperdiet bibendum, augue diam iaculis augue, at feugiat lectus erat eu tortor. Nunc viverra ex ut erat aliquet, in dignissim dui tristique. Aenean ultricies varius feugiat. Cras rhoncus sem et sollicitudin dictum.

In eu lectus fringilla, porttitor mauris nec, porttitor dui. Mauris egestas a elit vitae mattis. Phasellus et rutrum mauris. Integer suscipit mollis lorem vitae eleifend. Nullam imperdiet facilisis dui, ac posuere purus eleifend sed. Fusce in nibh vitae purus suscipit porttitor eu efficitur ligula. Cras congue nec turpis dictum viverra. Morbi mattis, mi rhoncus molestie bibendum, est enim sagittis magna, a fringilla lorem ipsum quis metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam sit amet sem semper, convallis neque et, hendrerit sapien. Sed at tortor a urna posuere tristique. Nullam ut posuere nulla. Phasellus ornare pellentesque porta. In ipsum lacus, elementum sed nisi placerat, efficitur vehicula dui. Sed vulputate fringilla pharetra.

Maecenas euismod nisl ex, a varius nulla mollis vitae. Vivamus mollis sapien ut ipsum dapibus dignissim. Aliquam dictum, lorem eu rhoncus feugiat, mi sem pellentesque est, a finibus leo nunc ac dolor. Duis malesuada eget dolor eu laoreet. Nullam ut venenatis massa. Sed id lacus orci. Vestibulum pretium vel massa id condimentum. Nullam quam lectus, pulvinar vel facilisis tincidunt, consectetur non libero. Mauris porttitor ornare sem, vitae elementum tellus interdum vel. Donec ac lobortis libero, eu dictum lorem. </p>
					</div>
					<div class="container">
						<h3 class="aligncenter">Nossos clientes</h3>
						<div class="row">
							<div class="customer-logos">
								{% for cliente in clientes %}
								<div class="slide"><img alt="{{ cliente.nome }}" src="{{ cliente.imagem_url }}"></div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>

			</div>

{% endblock content %}
