{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item servicos" href="{% url 'servicos' %}">Serviços</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Ensino</span>
					</div>
					<h1 class="page_title">Ensino</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom" >
				<section class="content_wrap">
					<div class="container">
						<div class="row">
							<div class="content">
								<div class="list_products shop_mode_thumbs">
									<!-- <nav class="woocommerce-breadcrumb">
										<a href="{url 'index'}">Início</a>&nbsp;&#47;&nbsp;Beer Shop
									</nav> -->

									{% for curso in cursos %}
									<ul class="products">
										<li class="product has-post-thumbnail column-1_3">
											<a href="{% url 'curso' pk=curso.pk %}"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="{% url 'curso' pk=curso.pk %}">
															<img src="{{ curso.imagem_url }}" class="attachment-shop_catalog" alt="{{ curso.nome }}"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h2>
														<a href="{% url 'curso' pk=curso.pk %}">{{ curso.nome }}</a>
													</h2>
												</div>
											</div>
										</li>
									</ul>
								{% endfor %}
								</div>
							</div>
						</div>
					</div>

				</section>

			</div>

{% endblock content %}
