{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item servicos" href="{% url 'servicos' %}">Serviços</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item servicos" href="{% url 'cursos' %}">Ensino</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">{{ curso.nome }}</span>
					</div>
					<h1 class="page_title">Cursos Cervejeiros</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

				<section class="content_wrap">
					<div class="container">
						<div class="row">
							<section class="post tribe_events_wrapper">
								<article class="post_content">
									<div id="tribe-events-pg-template">
										<div id="tribe-events" class="tribe-no-js">
											<div class="tribe-events-before-html">
											</div>
											<span class="tribe-events-ajax-loading">
												<img class="tribe-events-spinner-medium" src="{% static 'js/vendor/the-events-calendar/css/images/tribe-loading.gif' %}" alt="Loading Events"/>
											</span>
											<div id="tribe-events-content" class="tribe-events-single vevent hentry">
												{% if curso.iniciou %}
												<div class="tribe-events-notices">
													<ul>
														<li>Esse curso já começou!</li>
													</ul>
												</div>
												{% endif %}
												<h2 class="tribe-events-single-event-title summary entry-title">{{ curso.nome }}</h2>
												<div class="tribe-events-schedule updated published tribe-clearfix">
													<h3>
														<span class="date-start dtstart">
															{{ curso.data_de_inicio }}
															<span class="value-title" title="{{ curso.data_de_inicio }}">
															</span>
														</span>
													</h3>
												</div>
												<div id="tribe-events-header" data-title="Upcoming Events | Irish Pub Weekend | The Lucky Pint &#8211; Irish tavern">
													<h3 class="tribe-events-visuallyhidden">Event Navigation</h3>
													<ul class="tribe-events-sub-nav">
														<li class="tribe-events-nav-previous">
															<a href="#">
															<span>&laquo;</span> Saint Patrick’s Day</a>
														</li>
														<li class="tribe-events-nav-next">
															<a href="#">Beer Tasting Party
																<span>&raquo;</span>
															</a>
														</li>
													</ul>
												</div>
												<div class="tribe_events type-tribe_events status-publish has-post-thumbnail tribe_events_cat-party cat_party">
													<div class="tribe-events-event-image">
														<img src="{{ curso.imagem_url }}" alt="" title="{{ curso.nome }}"/>
													</div>
													<div class="tribe-events-single-event-description tribe-events-content entry-content description">
														<p class="text-justify">{{ curso.descricao }}</p>
													</div>
													<div class="tribe-events-single-section tribe-events-event-meta primary tribe-clearfix">
														<div class="tribe-events-meta-group tribe-events-meta-group-details">
															<h3 class="tribe-events-single-section-title"> Detalhes </h3>
															<dl>
																<dt> Começa:</dt>
																<dd>
																	<abbr class="tribe-events-abbr updated published dtstart" title="{{ curso.data_de_inicio }}"> {{ curso.data_de_inicio }} </abbr>
																</dd>
																<dt> Duração: </dt>
																<dd>
																	<abbr class="tribe-events-abbr dtend" title="{{ curso.duracao }}"> {{ curso.duracao }} </abbr>
																</dd>
																<dt>Preço:</dt>
																<dd class="tribe-events-event-categories">
																	<p>R&dollar; {{ curso.preco }}</a>
																</dd>
															</dl>
														</div>
														<div class="tribe-events-meta-group tribe-events-meta-group-organizer">
															<h3 class="tribe-events-single-section-title"> Organizador
															</h3>
															<dl>
																<dt>Nome:</dt>
																<dd class="fn org">{{ curso.organizador }}</dd>
																{% if curso.email %}
																<dt> Email: </dt>
																<dd class="email">
																	<a href="mailto:{{ curso.email }}">{{ curso.email }}</a>
																</dd>
																{% endif %}
																{% if curso.telefone %}
																<dt> Telefone: </dt>
																<dd class="telefone">{{ curso.telefone }}</dd>
																{% endif %}
															</dl>
														</div>
														<div class="tribe-events-meta-group tribe-events-meta-group-venue">
															<h3 class="tribe-events-single-section-title"> Onde </h3>
															<dl>
																<dt>Local:</dt>
																<dd class="fn org"> {{ curso.local }} </dd>
																<dt>Endereço:</dt>
																<dd class="location">
																	<address class="tribe-events-address">
																		<span class="adr">
																			<span class="street-address">{{ curso.endereco }} - {{ curso.bairro }}</span>
																			<span class="delimiter"><br></span>
																			<span class="locality">{{ curso.cidade }}</span>
																			<span class="delimiter"><br></span>
																			<abbr class="region tribe-events-abbr" title="CEP">{{ curso.cep }}</abbr>
																		</span>
																	</address>
																</dd>
															</dl>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tribe-events-after-html">
										</div>
									</div>
								</article>
							</section>
						</div>
					</div>
				</section>
			</div>

{% endblock content %}
