{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item home" href="{% url 'servicos' %}">Serviços</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Eventos</span>
					</div>
					<h1 class="page_title">Eventos</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom" >
				<section class="content_wrap">
					<div class="container content_wrap">
						<p class="text-justify"> A história da cerveja nos conta que ela sempre foi a principal bebida em eventos comemorativos e nas grandes celebrações dos povos antigos. Uma tradição cultural que herdamos e que perdura até os dias de hoje.  Segundo uma pesquisa realizada pelo IBOPE em 2012 indica que a Cerveja é a segunda maior paixão do brasileiro, perdendo apenas para o futebol. Dessa forma, é bem provável que VOCÊ, como bom brasileiro que é, também seja mais um desses apaixonados por esse líquido dourado que tem por essência entregar prazer e alegria a todos.<br><br>
						Ao irmos a um evento sempre somos testemunha de uma busca pela organização impecável, de primeira linha. Mas a cerveja é sempre aquela que tem o papel de não causar surpresa a ninguém. Fica a pergunta: Porque não servir uma cerveja especial para acompanhar a qualidade do seu evento?
Pensando nisso, a ESCOLA CERVEJEIRA® entra no mercado de eventos para oferecer uma gama de serviços e atividades, que tornarão o seu evento ainda mais único e inesquecível.<br><br>

Oferecemos um serviço personalizado para todos os tipos de eventos, sejam eles sociais ou corporativos. Contamos com um STAFF treinado e especializado para atender a todas as necessidades do evento.<br><br>

Confira alguns exemplos de eventos que são atendidos pelos nossos serviços.<br><br>

EVENTOS SOCIAIS:<br>
Casamentos;<br>
Aniversários;<br>
Debutantes;<br>
Confraternizações familiares.<br><br>

EVENTOS CORPORATIVOS:<br>
Treinamentos;<br>
Lançamento de produtos;<br>
Feiras;<br>
Confraternizações diversas;<br> </p>
						<div class="row">
							<div class="content">
								<div class="list_products shop_mode_thumbs">
									<div class="tribe-events-meta-group tribe-events-meta-group-organizer">
										<h3 class="tribe-events-single-section-title"> Organizador
										</h3>
										<dl>
											<div class="row">

												<div class="col-md-2">
													<dt>Nome: </dt>
													<dd class="fn org">{{ evento.organizador }}</dd>
												</div>
												<div class="col-md-2">
													{% if evento.email %}
													<dt> Email: </dt>
													<dd class="email">
														<a href="mailto:{{ evento.email }}">{{ evento.email }}</a>
													</dd>
													{% endif %}
												</div>
												<div class="col-md-2">
													{% if evento.telefone %}
													<dt> Telefone: </dt>
													<dd class="telefone">{{ evento.telefone }}</dd>
													{% endif %}
												</div>
											</div>
										</dl>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="post_content">
							<h3 class="aligncenter"> Últimos eventos </h3>
						</div>

						<div class="products">
							<div class="row">
							{% for post in posts|slice:"3" %}
								<div class="product has-post-thumbnail column-1_3">
									<h3><a href="{% url 'post' pk=post.pk %}">{{ post.titulo }}</a></h3>
									<div class="post_item_wrap">
										<div class="post_featured">
											<div class="post_thumb">
												<a class="hover_icon hover_icon_link" href="{% url 'post' pk=post.pk %}">
													<img src="{{ post.imagem_url }}" class="attachment-shop_catalog" alt="{{ post.nome }}"/>
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>

				</section>

			</div>

{% endblock content %}
