{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
	<div class="archive body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right toc_menu sidebar_show sidebar_left woocommerce woocommerce-page bg_image_7 bg_color_1 top_panel_fixed">
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item home" href="{% url 'cervejas' %}">Busca Cervejeira</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">{{ cerveja.nome }}</span>
					</div>
					<h1 class="page_title">Busca Cervejeira</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

				<section class="content_wrap">
					<div class="container">
						<div class="row">
							<div class="content">
								<article class="post_item post_item_single post_item_product">
									<div class="product has-post-thumbnail">
										<div class="images">
											<a class="hover_icon hover_icon_view sc_image_styled" href="{{ cerveja.imagem_url }}" title="{{ cerveja.nome }}">
												<img alt="{{ cerveja.nome }}" src="{{ cerveja.imagem_url }}">
											</a>
										</div>
										<div class="summary entry-summary">
											<h1 class="product_title entry-title">{{ cerveja.nome }}</h1>
											<div>
												<p class="price">
													<span class="amount">Estilo: {{ cerveja.estilo }}</span>
												</p>
											</div>
											<div>
												<p class="text-justify">{{ cerveja.descricao }}</p>
											</div>
											<div class="product_meta">
												<span class="posted_in">
													Categoria:
													<a href="#" rel="tag">{{ cerveja.categoria }}</a></span>
												</span>
											</div>
										</div>

		                <div class="woocommerce-tabs sc_tabs">
                              <ul class="tabs" role="tablist">
                                  <li class="reviews_tab">
                                      <a href="#tab2" role="tab" data-toggle="tab">Notas</a>
                                  </li>
                              </ul>

                              <div class="panel" id="tab2">
																				<div id="reviews">
																							<h3 class="sc_title sc_title_regular">Características</h3>
																							<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal">
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Aparência</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_4">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.nota1 }}" data-step="1" data-max="10" data-speed="20" data-duration="1960" data-ed="/10">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Aroma</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_1">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.nota2 }}" data-step="1" data-max="10" data-speed="27" data-duration="1782" data-ed="/10">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Sabor e corpo</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_2">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.nota3 }}" data-step="1" data-max="10" data-speed="27" data-duration="2349" data-ed="/10">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Paladar</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_5">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.nota4 }}" data-step="1" data-max="10" data-speed="32" data-duration="2624" data-ed="/10">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Avaliação Geral</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_3">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.media }}" data-step="1" data-max="100" data-speed="32" data-duration="2624" data-ed="%">0%</div>
																									</div>
																								</div>
																							</div>
																				</div>
                              </div>
		                </div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</section>

			</div>
	</div>
{% endblock content %}
