{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Busca Cervejeira</span>
					</div>
					<h1 class="page_title">Busca Cervejeira</h1>
				</div>
			</div>

			<!-- <section class="top_panel_wrap bg_tint_dark bg_header_1_2">
				<div class="menu_main_wrap logo_left">
					<div class="content_wrap clearfix">
						<a href="#" class="menu_main_responsive_button icon-menu-1">
						</a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
							    <li class="menu-item menu-item-has-children">
									<a href="#">Fermentação</a>
									<ul class="sub-menu">
										<li class="menu-item">
											<a href="#">Lager</a>
										</li>
										<li class="menu-item">
											<a href="#">Ale</a>
										</li>
										<li class="menu-item">
											<a href="#">Qualquer</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">Classificação</a>
									<ul class="sub-menu scrollable-menu">
										<li class="menu-item">
											<a href="">Standard American Beer</a>
										</li>
										<li class="menu-item">
											<a href="">International lager</a>
										</li>
										<li class="menu-item">
											<a href="">Czech Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Pale Malty European Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Pale Bitter European Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Amber Malty European Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Amber Bitter European Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Dark European Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Strong European Beer</a>
										</li>
										<li class="menu-item">
											<a href="">German Wheat Beer</a>
										</li>
										<li class="menu-item">
											<a href="">British Bitter</a>
										</li>
										<li class="menu-item">
											<a href="">Pale Commonwealth Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Brown British Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Scottish Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Irish Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Dark British Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Strong British Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Pale American Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Amber And Brown American Beer</a>
										</li>
										<li class="menu-item">
											<a href="">American Porter And Stout</a>
										</li>
										<li class="menu-item">
											<a href="">IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Strong American Ale</a>
										</li>
										<li class="menu-item">
											<a href="">European Sour Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Strong Belgian Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Trappist Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Historical Beer</a>
										</li>
										<li class="menu-item">
											<a href="">American Wild Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Fruit Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Spiced Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Alternative Fermentables Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Smoked Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Wood Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Specialty Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Argentine Styles</a>
										</li>
										<li class="menu-item">
											<a href="">Italian Styles</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">Estilo</a>
									<ul class="sub-menu scrollable-menu">
										<li class="menu-item">
											<a href="">American Light Lager</a>
										</li>
										<li class="menu-item">
											<a href="">American Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Cream Ale</a>
										</li>
										<li class="menu-item">
											<a href="">American Wheat Beer</a>
										</li>
										<li class="menu-item">
											<a href="">International Pale Lager</a>
										</li>
										<li class="menu-item">
											<a href="">International Amber Lager</a>
										</li>
										<li class="menu-item">
											<a href="">International Dark Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Czech Pale Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Czech Premium Pale Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Czech Amber Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Czech Dark Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Munich Helles</a>
										</li>
										<li class="menu-item">
											<a href="">Festbier</a>
										</li>
										<li class="menu-item">
											<a href="">Helles Bock</a>
										</li>
										<li class="menu-item">
											<a href="">German Leichtbier</a>
										</li>
										<li class="menu-item">
											<a href="">Kölsch</a>
										</li>
										<li class="menu-item">
											<a href="">German Helles Exportbier</a>
										</li>
										<li class="menu-item">
											<a href="">German Pils</a>
										</li>
										<li class="menu-item">
											<a href="">Märzen</a>
										</li>
										<li class="menu-item">
											<a href="">Rauchbier</a>
										</li>
										<li class="menu-item">
											<a href="">Dunkles Bock</a>
										</li>
										<li class="menu-item">
											<a href="">Vienna Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Altbier</a>
										</li>
										<li class="menu-item">
											<a href="">Kellerbier</a>
										</li>
										<li class="menu-item">
											<a href="">Amber Kellerbier</a>
										</li>
										<li class="menu-item">
											<a href="">Munich Dunkel</a>
										</li>
										<li class="menu-item">
											<a href="">Schwarzbier</a>
										</li>
										<li class="menu-item">
											<a href="">Doppelbock</a>
										</li>
										<li class="menu-item">
											<a href="">Eisbock</a>
										</li>
										<li class="menu-item">
											<a href="">Baltic Porter</a>
										</li>
										<li class="menu-item">
											<a href="">Weissbier</a>
										</li>
										<li class="menu-item">
											<a href="">Dunkles Weissbier</a>
										</li>
										<li class="menu-item">
											<a href="">Weizenbock</a>
										</li>
										<li class="menu-item">
											<a href="">Ordinary Bitter</a>
										</li>
										<li class="menu-item">
											<a href="">Best Bitter</a>
										</li>
										<li class="menu-item">
											<a href="">Strong Bitter</a>
										</li>
										<li class="menu-item">
											<a href="">British Golden Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Australian Sparkling Ale</a>
										</li>
										<li class="menu-item">
											<a href="">English IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Dark Mild</a>
										</li>
										<li class="menu-item">
											<a href="">British Brown Ale</a>
										</li>
										<li class="menu-item">
											<a href="">English Porter</a>
										</li>
										<li class="menu-item">
											<a href="">Scottish Light</a>
										</li>
										<li class="menu-item">
											<a href="">Scottish Heavy</a>
										</li>
										<li class="menu-item">
											<a href="">Scottish Export</a>
										</li>
										<li class="menu-item">
											<a href="">Irish Red Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Irish Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Irish Extra Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Sweet Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Oatmeal Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Tropical Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Foreign Extra Stout</a>
										</li>
										<li class="menu-item">
											<a href="">British Strong Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Old Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Wee Heavy</a>
										</li>
										<li class="menu-item">
											<a href="">English Barleywine</a>
										</li>
										<li class="menu-item">
											<a href="">Blonde Ale</a>
										</li>
										<li class="menu-item">
											<a href="">American Pale Ale</a>
										</li>
										<li class="menu-item">
											<a href="">American Amber Ale</a>
										</li>
										<li class="menu-item">
											<a href="">California Common</a>
										</li>
										<li class="menu-item">
											<a href="">American Brown Ale</a>
										</li>
										<li class="menu-item">
											<a href="">American Porter</a>
										</li>
										<li class="menu-item">
											<a href="">American Stout</a>
										</li>
										<li class="menu-item">
											<a href="">Imperial Stout</a>
										</li>
										<li class="menu-item">
											<a href="">American IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Black IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Brown IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Red IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Rye IPA</a>
										</li>
										<li class="menu-item">
											<a href="">White IPA</a>
										</li>
										<li class="menu-item">
											<a href="">Double IPA</a>
										</li>
										<li class="menu-item">
											<a href="">American Strong Ale</a>
										</li>
										<li class="menu-item">
											<a href="">American Barleywine</a>
										</li>
										<li class="menu-item">
											<a href="">Wheatwine</a>
										</li>
										<li class="menu-item">
											<a href="">Berliner Weisse</a>
										</li>
										<li class="menu-item">
											<a href="">Flanders Red Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Oud Bruin</a>
										</li>
										<li class="menu-item">
											<a href="">Lambic</a>
										</li>
										<li class="menu-item">
											<a href="">Gueuze</a>
										</li>
										<li class="menu-item">
											<a href="">Fruit Lambic</a>
										</li>
										<li class="menu-item">
											<a href="">Witbier</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Pale Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Bière de Garde</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Blond Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Saison (pale) (standard)</a>
										</li>
										<li class="menu-item">
											<a href="">Saison (dark) (standard)</a>
										</li>
										<li class="menu-item">
											<a href="">Saison (pale) (table)</a>
										</li>
										<li class="menu-item">
											<a href="">Saison (pale) (super)</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Golden Strong Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Trappist Single</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Dubbel</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Tripel</a>
										</li>
										<li class="menu-item">
											<a href="">Belgian Dark Strong Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Historical Beer: Gose</a>
										</li>
										<li class="menu-item">
											<a href="">Kentucky Common</a>
										</li>
										<li class="menu-item">
											<a href="">Lichtenhainer</a>
										</li>
										<li class="menu-item">
											<a href="">London Brown Ale</a>
										</li>
										<li class="menu-item">
											<a href="">Piwo Grodziskie</a>
										</li>
										<li class="menu-item">
											<a href="">Pre-Prohibition Lager</a>
										</li>
										<li class="menu-item">
											<a href="">Pre-Prohibition Porter</a>
										</li>
										<li class="menu-item">
											<a href="">Roggenbier</a>
										</li>
										<li class="menu-item">
											<a href="">Sahti</a>
										</li>
										<li class="menu-item">
											<a href="">Brett Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Mixed-Fermentation Sour Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Wild Specialty Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Fruit Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Fruit and Spice Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Specialty Fruit Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Spice, Herb, or Vegetable Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Autumn Seasonal Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Winter Seasonal Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Alternative Grain Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Alternative Sugar Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Classic Style Smoked Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Specialty Smoked Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Wood-Aged Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Specialty Wood-Aged Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Clone Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Mixed-Style Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Experimental Beer</a>
										</li>
										<li class="menu-item">
											<a href="">Dorada Pampeana</a>
										</li>
										<li class="menu-item">
											<a href="">IPA Argenta</a>
										</li>
										<li class="menu-item">
											<a href="">Italian Grape Ale</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">Harmonização</a>
									<ul class="sub-menu scrollable-menu">
										<li class="menu-item">
											<a href="">Aves</a>
										</li>
										<li class="menu-item">
											<a href="">Carnes Bovinas</a>
										</li>
										<li class="menu-item">
											<a href="">Carnes Diversas</a>
										</li>
										<li class="menu-item">
											<a href="">Churrascos</a>
										</li>
										<li class="menu-item">
											<a href="">Comidas Étnica</a>
										</li>
										<li class="menu-item">
											<a href="">Comidas Picantes</a>
										</li>
										<li class="menu-item">
											<a href="">Crepes</a>
										</li>
										<li class="menu-item">
											<a href="">Culinária Vengana</a>
										</li>
										<li class="menu-item">
											<a href="">Diversos</a>
										</li>
										<li class="menu-item">
											<a href="">Frutos do Mar</a>
										</li>
										<li class="menu-item">
											<a href="">Legumes</a>
										</li>
										<li class="menu-item">
											<a href="">Massas</a>
										</li>
										<li class="menu-item">
											<a href="">Ovos</a>
										</li>
										<li class="menu-item">
											<a href="">Panquecas</a>
										</li>
										<li class="menu-item">
											<a href="">Peixes</a>
										</li>
										<li class="menu-item">
											<a href="">Petiscos e Aperitivos</a>
										</li>
										<li class="menu-item">
											<a href="">Pizzas</a>
										</li>
										<li class="menu-item">
											<a href="">Queijos</a>
										</li>
										<li class="menu-item">
											<a href="">Risotos</a>
										</li>
										<li class="menu-item">
											<a href="">Saladas</a>
										</li>
										<li class="menu-item">
											<a href="">Salsichas</a>
										</li>
										<li class="menu-item">
											<a href="">Sobremesas</a>
										</li>
										<li class="menu-item">
											<a href="">Sopas</a>
										</li>
										<li class="menu-item">
											<a href="">Suínos</a>
										</li>
										<li class="menu-item">
											<a href="">Sushi</a>
										</li>
										<li class="menu-item">
											<a href="">Tortas</a>
										</li>
									</ul>
								</li>
								<li class="menu-item menu-item-has-children">
									<a href="#">País</a>
									<ul class="sub-menu scrollable-menu">
										<li class="menu-item">
											<a href="">Alemanha</a>
										</li>
										<li class="menu-item">
											<a href="">Argentina</a>
										</li>
										<li class="menu-item">
											<a href="">Austrália</a>
										</li>
										<li class="menu-item">
											<a href="">Aústria</a>
										</li>
										<li class="menu-item">
											<a href="">Bélgica</a>
										</li>
										<li class="menu-item">
											<a href="">Brasil</a>
										</li>
										<li class="menu-item">
											<a href="">Bulgária</a>
										</li>
										<li class="menu-item">
											<a href="">Canadá</a>
										</li>
										<li class="menu-item">
											<a href="">China</a>
										</li>
										<li class="menu-item">
											<a href="">Dinamarca</a>
										</li>
										<li class="menu-item">
											<a href="">Escócia</a>
										</li>
										<li class="menu-item">
											<a href="">Estados Unidos</a>
										</li>
										<li class="menu-item">
											<a href="">Estônia</a>
										</li>
										<li class="menu-item">
											<a href="">Finlândia</a>
										</li>
										<li class="menu-item">
											<a href="">França</a>
										</li>
										<li class="menu-item">
											<a href="">Holanda</a>
										</li>
										<li class="menu-item">
											<a href="">Índia</a>
										</li>
										<li class="menu-item">
											<a href="">Inglaterra</a>
										</li>
										<li class="menu-item">
											<a href="">Irlanda</a>
										</li>
										<li class="menu-item">
											<a href="">Italia</a>
										</li>
										<li class="menu-item">
											<a href="">Japão</a>
										</li>
										<li class="menu-item">
											<a href="">Letônia</a>
										</li>
										<li class="menu-item">
											<a href="">Lituânia</a>
										</li>
										<li class="menu-item">
											<a href="">México</a>
										</li>
										<li class="menu-item">
											<a href="">Noruega</a>
										</li>
										<li class="menu-item">
											<a href="">Nova Zelândia</a>
										</li>
										<li class="menu-item">
											<a href="">País de Gales</a>
										</li>
										<li class="menu-item">
											<a href="">Polônia</a>
										</li>
										<li class="menu-item">
											<a href="">Portugal</a>
										</li>
										<li class="menu-item">
											<a href="">República Checa</a>
										</li>
										<li class="menu-item">
											<a href="">Romênia</a>
										</li>
										<li class="menu-item">
											<a href="">Rússia</a>
										</li>
										<li class="menu-item">
											<a href="">Sérvia</a>
										</li>
										<li class="menu-item">
											<a href="">Suécia</a>
										</li>
										<li class="menu-item">
											<a href="">Outros</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</section> -->

			<div class="page_content_wrap wrap_custom" >
				<section class="content_wrap">
					<div class="container">
						<div class="row">
							<div class="content">
								<div class="list_products shop_mode_thumbs">
									<nav class="woocommerce-breadcrumb">
										<a href="{url 'index'}">Início</a>&nbsp;&#47;&nbsp;Beer Shop
									</nav>
									<!-- <p class="woocommerce-result-count">Showing all 9 results</p> -->
									<label for="busca-cerveja">Busca</label>
									<input id="busca-cerveja" type="text" name="busca-cerveja" placeholder="Digite o nome da cerveja">
									<div class="products">
									<div class="row">
										{% for cerveja in cervejas %}
											<div class="product has-post-thumbnail column-1_3">
												<a href="{% url 'cerveja' pk=cerveja.pk %}"></a>
												<div class="post_item_wrap">
													<div class="post_featured">
														<div class="post_thumb">
															<a class="hover_icon hover_icon_link" href="{% url 'cerveja' pk=cerveja.pk %}">
																<img src="{{ cerveja.imagem_url }}" class="attachment-shop_catalog" alt="{{ cerveja.nome }}"/>
															</a>
														</div>
													</div>
													<div class="post_content">
														<h3 class="product-title"><a href="{% url 'cerveja' pk=cerveja.pk %}">{{ cerveja.nome }}</a>
														</h3>
														<!-- <a href="{% url 'cerveja' pk=cerveja.pk %}" class="single_add_to_cart_button button alt">Sobre</a> -->
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>

										<!-- <li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/amstel-6-case-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">Amstel Beer Case</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/heineken-033-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">Heineken Beer</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/heineken-mini-keg-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">Heineken Can</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/leffe-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">Leffe Beer</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/leffe-case-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">Leffe Dark Case</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/new-castle-033-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">New Castle Beer</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/newcastle-keg-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">New Castle Keg</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li>

										<li class="product has-post-thumbnail column-1_3">
											<a href="features-beer-shop-product.html"></a>
											<div class="post_item_wrap">
												<div class="post_featured">
													<div class="post_thumb">
														<a class="hover_icon hover_icon_link" href="features-beer-shop-product.html">
															<img src="images/new-castle-6-case-300x300.jpg" class="attachment-shop_catalog" alt="amstel 0,33"/>
														</a>
													</div>
												</div>
												<div class="post_content">
													<h3>
														<a href="features-beer-shop-product.html">New 0,33</a>
													</h3>
													<a href="features-beer-shop-product.html" class="single_add_to_cart_button button alt">Sobre</a>
												</div>
											</div>
										</li> -->
								</div>
							</div>
							<!-- <div class="sidebar widget_area bg_tint_light sidebar_style_light" role="complementary">
								<aside class="widget woocommerce widget_product_search">
									<h5 class="widget_title">Procurar Cerveja</h5>
									<form method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Nome da Cerveja" value="" name="s" title="Search for products:">
										<button class="search_button icon-search" type="submit"></button>
										<input type="hidden" name="post_type" value="product">
									</form>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Cervejas mais Procuradas</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Cervejas Avaliadas Recentemente</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Últimos Posts</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>

							</div> -->
						</div>
					</div>
				</section>

			</div>

{% endblock content %}
