{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
	<div class="archive body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right toc_menu sidebar_show sidebar_left woocommerce woocommerce-page bg_image_7 bg_color_1 top_panel_fixed">
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<a class="breadcrumbs_item home" href="{% url 'cervejas' %}">Busca Cervejeira</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">{{ cerveja.nome }}</span>
					</div>
					<h1 class="page_title">Busca Cervejeira</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

				<section class="content_wrap">
					<div class="container">
						<div class="row">
							<div class="content">
								<article class="post_item post_item_single post_item_product">
									<!-- <nav class="woocommerce-breadcrumb">
										<a href="{% url 'index' %}">Início</a>
										&nbsp;&#47;&nbsp;
										<a href="#">0,33</a>
										&nbsp;&#47;&nbsp;{{ beer.name }}
									</nav> -->
									<div class="product has-post-thumbnail">
										<div class="images">
											<a class="hover_icon hover_icon_view sc_image_styled" href="{{ cerveja.imagem_url }}" title="{{ cerveja.nome }}">
												<img alt="{{ cerveja.nome }}" src="{{ cerveja.imagem_url }}">
											</a>
											<!-- <div class="thumbnails columns-5">
												<a class="hover_icon hover_icon_view sc_image_styled" href="{{ beer.picture_url }}" title="{{ beer.name }}">
													<img alt="{{ beer.name }}" src="{{ beer.picture_url }}">
												</a>
												<a class="hover_icon hover_icon_view sc_image_styled" href="{{ beer.picture_url }}" title="{{ beer.name }}">
													<img alt="{{ beer.name }}" src="{{ beer.picture_url }}">
												</a>
											</div> -->
										</div>
										<div class="summary entry-summary">
											<h1 class="product_title entry-title">{{ cerveja.nome }}</h1>
											<div>
												<p class="price">
													<span class="amount">R&dollar;{{ cerveja.preco }}</span>
												</p>
											</div>
											<div>
												<p>{{ cerveja.descricao }}</p>
											</div>
											<!-- <form class="cart" method="post" enctype='multipart/form-data'>
												<div class="quantity">
													<input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4"/>
												</div>
												<input type="hidden" name="add-to-cart" value="754"/>
												<button type="submit" class="single_add_to_cart_button button alt">Sobre</button>
											</form> -->
											<div class="product_meta">
												<span class="posted_in">
													Categoria:
													<a href="#" rel="tag">{{ cerveja.categoria }}</a></span>
													<!-- <span class="tagged_as">
														Tag:
														<a href="#" rel="tag">blonde</a>.
													</span>
													<span class="product_id">Product ID: <span>754</span> -->
												</span>
											</div>
										</div>


		                <div class="woocommerce-tabs sc_tabs">
                              <ul class="tabs" role="tablist">
                                  <li class="description_tab">
                                      <a href="#tab1" role="tab" data-toggle="tab">Avaliação</a>
                                  </li>
                                  <li class="reviews_tab">
                                      <a href="#tab2" role="tab" data-toggle="tab">Notas</a>
                                  </li>

                              </ul>

                              <div class="panel" id="tab1">
															 <h2>{{ cerveja.nome }}</h2>
															 <p>{{ cerveja.descricao }}</p>

                              </div>

                              <div class="panel" id="tab2">
																				<div id="reviews">
																					<!-- <div class="sc_line sc_line_style_solid"></div> -->
																							<h3 class="sc_title sc_title_regular">Nota</h3>
																							<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal">
																								<!-- <div class="sc_skills_info">
																									<div class="sc_skills_label">Pilsner</div>
																								</div> -->
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_2">
																										<div class="sc_skills_total" data-start="0" data-stop="{{ cerveja.avaliacao }}" data-step="1" data-max="10" data-speed="20" data-duration="1960" data-ed="/10"></div>
																									</div>
																								</div>
																								<!-- <div class="sc_skills_info">
																									<div class="sc_skills_label">Stouts</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_2">
																										<div class="sc_skills_total" data-start="0" data-stop="66" data-step="1" data-max="100" data-speed="27" data-duration="1782" data-ed="%">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Pale Ale</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_3">
																										<div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="27" data-duration="2349" data-ed="%">0%</div>
																									</div>
																								</div>
																								<div class="sc_skills_info">
																									<div class="sc_skills_label">Brown Ale</div>
																								</div>
																								<div class="sc_skills_item sc_skills_style_1">
																									<div class="sc_skills_count color_4">
																										<div class="sc_skills_total" data-start="0" data-stop="82" data-step="1" data-max="100" data-speed="32" data-duration="2624" data-ed="%">0%</div>
																									</div>
																								</div> -->
																							</div>
																						<!-- <div id="comments">
																								<h2>Reviews</h2>
																								<p class="woocommerce-noreviews">There are no reviews yet.</p>
																						</div>
																						<div id="review_form_wrapper">
																								<div id="review_form">
																										<div id="respond" class="comment-respond">
																												<h3 id="reply-title" class="comment-reply-title">Be the first to review &ldquo;Amstel Beer&rdquo;
																														<small>
																														<a rel="nofollow" id="cancel-comment-reply-link" href="#respond">Cancel reply</a>
																														</small>
																												</h3>
																												<form action="#" method="post" id="commentform" class="comment-form">
																														<p class="comment-form-author">
																																<label for="author">Name <span class="required">*</span></label>
																																<input id="author" name="author" type="text" value="" size="30" aria-required="true"/>
																														</p>
																														<p class="comment-form-email">
																																<label for="email">Email <span class="required">*</span></label>
																																<input id="email" name="email" type="text" value="" size="30" aria-required="true"/>
																														</p>
																														<div class="comment-form-rating">
																																<label>Your Rating</label>
																																<p class="stars">
																																		<span>
																																				<a class="star-1" href="#">1</a>
																																				<a class="star-2" href="#">2</a>
																																				<a class="star-3" href="#">3</a>
																																				<a class="star-4" href="#">4</a>
																																				<a class="star-5" href="#">5</a>
																																		</span>
																																</p>
																														</div>
																														<p class="comment-form-comment">
																																<label for="comment">Your Review</label>
																																<textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea>
																														</p>
																														<p class="form-submit">
																																<input name="submit" type="submit" id="submit" class="submit" value="Submit"/>
																																<input type='hidden' name='comment_post_ID' value='754' id='comment_post_ID'/>
																																<input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
																														</p>
																												</form>
																										</div>
																								</div>
																						</div> -->
																				</div>
                              </div>
		                </div>
									</div>
								</article>
							</div>
							<!-- <div class="sidebar widget_area bg_tint_light sidebar_style_light" role="complementary">
								<aside class="widget woocommerce widget_product_search">
									<h5 class="widget_title">Procurar Cerveja</h5>
									<form method="get" class="search_form" action="#">
										<input type="text" class="search_field" placeholder="Nome da Cerveja" value="" name="s" title="Search for products:">
										<button class="search_button icon-search" type="submit"></button>
										<input type="hidden" name="post_type" value="product">
									</form>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Cervejas Avaliadas Recentemente</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Bares AValiados Recentemente</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>
								<aside class="widget widget_recent_entries">
										<h5 class="widget_title">Cervejas mais Procuradas</h5>
										<ul>
											<li>
												<a href="#">Ideal Dinner in the Beer Garden</a>
											</li>
											<li>
												<a href="#">Best Food to Compliment Beer</a>
											</li>
											<li>
												<a href="#">Searching for the Perfect Pint</a>
											</li>
											<li>
												<a href="#">Grilled Beer-cooked Sausages</a>
											</li>
											<li>
												<a href="#">The Best Pairings for Dark Beer</a>
											</li>
										</ul>
								</aside>
							</div> -->
						</div>
					</div>
				</section>

			</div>
	</div>
{% endblock content %}
