<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
	<title>Escola Cervejeira</title>
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/swiper/idangerous.swiper.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/mediaelement/css/mediaelementplayer.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/custom/core.messages/core.messages.css' type='text/css' media='all'/>

	<!--<link rel='stylesheet' href='custom_tools/css/front.customizer.css' type='text/css' media='all'/>-->

</head>

<body class="page body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_show sidebar_right bg_image_7 bg_color_1">

	<div class="body_wrap">
		<div class="page_wrap">

			<div class="top_panel_fixed_wrap"> </div>
			<header class="top_panel_wrap bg_tint_dark bg_header_1">
				<div class="menu_main_wrap logo_left">
					<div class="content_wrap clearfix">
						<div class="logo">
							<a href="index.html">
								<img src="images/logec1.png" class="logo_main" alt="">
								<img src="images/logec2.png" class="logo_fixed" alt="">
								<span class="logo_slogan">Irish Tavern - pub Theme</span>
							</a>
						</div>
						<a href="#" class="menu_main_responsive_button icon-menu-1">
						</a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item">
									<a href="index.html">Home</a>
								</li>
								<li class="menu-item">
									<a href="features-beer-shop.html">Busca Cervejeira</a>
								</li>
								<li class="menu-item">
									<a href="gallery-cobbles.html">Galeria</a>
								</li>
								<li class="menu-item">
									<a href="blog-with-sidebar.html">Blog</a>
								</li>
								<li class="booking menu-item">
									<a href=""></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="index.html">Home</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Serviços</span> 
					</div>
					<h1 class="page_title">Serviços</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

					<section class="content_wrap">
						<div class="container">
							<div class="row">
								<div class="content">
									<article class="post_item post_item_single post_featured_default post_format_standard page type-page">
										<section class="post_content">
											<div class="">
												<div class="sc_section">
													<h3 class="sc_title margin_top_none">Accordion</h3>
													<div class="sc_accordion sc_accordion_style_1" data-active="0">
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus-1"> </span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus-1"></span>
																Accordion Title 1
															</h5>
															<div class="sc_accordion_content">
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
															</div>
														</div>
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus-1"> </span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus-1"> </span>
																Accordion Title 2
															</h5>
															<div class="sc_accordion_content">
																<p>Proin dignissim commodo magna at luctus. Nam molestie justo augue, nec eleifend urna laoreet non. Proin ut nulla egestas, hendrerit urna scelerisque, finibus nulla. Integer et elementum sem. Donec nec scelerisque elit, id pulvinar est. Maecenas laoreet, diam vel venenatis molestie, nunc augue tempus felis, nec efficitur dui leo a tellus.</p>
															</div>
														</div>
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-check-1"></span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-delete-2"></span>
																Accordion Title 3 with custom icons
															</h5>
															<div class="sc_accordion_content">
																<p>Curabitur tristique tempus arcu a placerat. Integer venenatis, magna et lobortis aliquet, diam nibh dictum lorem, ac porttitor dolor nunc quis diam. Morbi malesuada hendrerit libero at fermentum. Praesent risus eros, consectetur eu metus nec, pellentesque dapibus sapien.</p>
															</div>
														</div>
													</div>
													<div class="sc_accordion sc_accordion_style_2 margin_top_small" data-active="0">
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus-1"> </span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus-1"> </span>
																Accordion Title 1
															</h5>
															<div class="sc_accordion_content">
																<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
															</div>
														</div>
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus-1"> </span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus-1"> </span>
																Accordion Title 2
															</h5>
															<div class="sc_accordion_content">
																<p>Proin dignissim commodo magna at luctus. Nam molestie justo augue, nec eleifend urna laoreet non. Proin ut nulla egestas, hendrerit urna scelerisque, finibus nulla. Integer et elementum sem. Donec nec scelerisque elit, id pulvinar est. Maecenas laoreet, diam vel venenatis molestie, nunc augue tempus felis, nec efficitur dui leo a tellus.</p>
															</div>
														</div>
														<div class="sc_accordion_item">
															<h5 class="sc_accordion_title">
																<span class="sc_accordion_icon sc_accordion_icon_closed icon-plus-1"> </span>
																<span class="sc_accordion_icon sc_accordion_icon_opened icon-minus-1"> </span>
																Accordion Title 3
															</h5>
															<div class="sc_accordion_content">
																<p>Curabitur tristique tempus arcu a placerat. Integer venenatis, magna et lobortis aliquet, diam nibh dictum lorem, ac porttitor dolor nunc quis diam. Morbi malesuada hendrerit libero at fermentum. Praesent risus eros, consectetur eu metus nec, pellentesque dapibus sapien.</p>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="">
												<div class="sc_section">
													<div class="sc_line sc_line_style_solid"></div>
													<h3 class="sc_title">Tabs</h3>
													<div id="sc_tabs_1" class="sc_tabs sc_tabs_style_1" data-active="0">
														<ul class="sc_tabs_titles">
															<li class="sc_tabs_title">
																<a href="#sc_tab_1" class="theme_button" id="sc_tab_1_tab">Tab 1</a>
															</li>
															<li class="sc_tabs_title">
																<a href="#sc_tab_2" class="theme_button" id="sc_tab_2_tab">Tab 2</a>
															</li>
															<li class="sc_tabs_title last">
																<a href="#sc_tab_3" class="theme_button" id="sc_tab_3_tab">Tab 3</a>
															</li>
														</ul>
														<div id="sc_tab_1" class="sc_tabs_content">
															<p>Nulla suscipit ex augue, ac mattis leo mattis vel. Aliquam vulputate augue erat. Integer pharetra elit quam, vel feugiat nisl ullamcorper et. Integer pellentesque fringilla justo condimentum ullamcorper.</p>
														</div>
														<div id="sc_tab_2" class="sc_tabs_content">
															<p>Donec mollis risus mauris. Morbi pharetra arcu mi, ultricies tincidunt erat tempor a. Integer blandit velit turpis, a facilisis arcu varius vel. Sed faucibus vestibulum ante quis volutpat. Etiam aliquet eros augue, interdum tincidunt risus tristique quis. Curabitur et arcu et mi semper vehicula ut in massa</p>
														</div>
														<div id="sc_tab_3" class="sc_tabs_content">
															<p>Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.</p>
														</div>
													</div>
													<div id="sc_tabs_2" class="sc_tabs sc_tabs_style_2 margin_top_middle" data-active="2">
														<ul class="sc_tabs_titles">
															<li class="sc_tabs_title">
																<a href="#sc_tab_4" class="theme_button" id="sc_tab_4_tab">Tab 1</a>
															</li>
															<li class="sc_tabs_title">
																<a href="#sc_tab_5" class="theme_button" id="sc_tab_5_tab">Tab 2</a>
															</li>
															<li class="sc_tabs_title last">
																<a href="#sc_tab_6" class="theme_button" id="sc_tab_6_tab">Tab 3</a>
															</li>
														</ul>
														<div id="sc_tab_4" class="sc_tabs_content">
															<div id="sc_tab_4_scroll" class="sc_scroll sc_scroll_style_1 sc_scroll_vertical">
																<div class="sc_scroll_wrapper swiper-wrapper">
																	<div class="sc_scroll_slide swiper-slide">
																		<p>Nulla suscipit ex augue, ac mattis leo mattis vel. Aliquam vulputate augue erat. Integer pharetra elit quam, vel feugiat nisl ullamcorper et. Integer pellentesque fringilla justo condimentum ullamcorper.</p>
																	</div>
																</div>
																<div id="sc_tab_4_scroll_bar" class="sc_scroll_bar sc_scroll_bar_vertical sc_tab_4_scroll_bar"></div>
															</div>
														</div>
														<div id="sc_tab_5" class="sc_tabs_content">
															<div id="sc_tab_5_scroll" class="sc_scroll sc_scroll_style_1 sc_scroll_vertical">
																<div class="sc_scroll_wrapper swiper-wrapper">
																	<div class="sc_scroll_slide swiper-slide">
																		<p>Donec mollis risus mauris. Morbi pharetra arcu mi, ultricies tincidunt erat tempor a. Integer blandit velit turpis, a facilisis arcu varius vel. Sed faucibus vestibulum ante quis volutpat. Etiam aliquet eros augue, interdum tincidunt risus tristique quis. Curabitur et arcu et mi semper vehicula ut in massa</p>
																	</div>
																</div>
																<div id="sc_tab_5_scroll_bar" class="sc_scroll_bar sc_scroll_bar_vertical sc_tab_5_scroll_bar"></div>
															</div>
														</div>
														<div id="sc_tab_6" class="sc_tabs_content">
															<div id="sc_tab_6_scroll" class="sc_scroll sc_scroll_style_1 sc_scroll_vertical">
																<div class="sc_scroll_wrapper swiper-wrapper">
																	<div class="sc_scroll_slide swiper-slide">
																		<p>Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.<br/>
																		Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.<br/>
																		Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.<br/>
																		Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.<br/>
																		Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.<br/>
																		Sed orci nibh, ullamcorper vitae scelerisque non, fermentum eu diam. Mauris vitae libero efficitur, lacinia nibh scelerisque, pellentesque leo. Vivamus quis nisi elit. Cras egestas rhoncus pulvinar. Curabitur vitae augue sollicitudin, tincidunt ex sed, dignissim quam.</p>
																	</div>
																</div>
																<div id="sc_tab_6_scroll_bar" class="sc_scroll_bar sc_scroll_bar_vertical sc_tab_6_scroll_bar"></div>
															</div>
														</div>
													</div>
												</div>
											</div>	

											<div class="">
												<div class="sc_section">
													<div class="sc_line sc_line_style_solid"></div>
													<h3 class="sc_title">Tables</h3>
													<div class="sc_table">
														<table>
															<tbody>
																<tr>
																	<th>#</th>
																	<th>Name</th>
																	<th>Price</th>
																</tr>
																<tr>
																	<td>1</td>
																	<td>Item #1</td>
																	<td>$10</td>
																</tr>
																<tr>
																	<td>2</td>
																	<td>Item #2</td>
																	<td>$100</td>
																</tr>
																<tr>
																	<td>3</td>
																	<td>Item #3</td>
																	<td>$1000</td>
																</tr>
																<tr>
																	<td>4</td>
																	<td>Item #4</td>
																	<td>$10.000</td>
																</tr>
																<tr>
																	<td colspan="2">Total:</td>
																	<td>$11.110</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>


											<div class="">
												<div class="sc_section">
													<div class="sc_line sc_line_style_solid"></div>
													<h3 class="sc_title">Video player</h3>
													<h5 class="sc_title">Video with border image</h5>
													<div class="sc_section alignleft">
														<div class="sc_video_player sc_video_bordered">
															<div class="sc_video_frame" data-width="100%" data-height="647">
																<iframe class="video_frame" src="https://player.vimeo.com/video/78577161" height="647" allowFullScreen="allowFullScreen">
																</iframe>
															</div>
														</div>
													</div>
													<div class="">
														<p>Donec sed ante nec orci viverra vehicula. Nam id tincidunt ante, ut interdum sem. Nulla ac erat sit amet quam mattis tincidunt eget sed nunc. Proin risus dolor, cursus ut lacinia eget, suscipit at urna. Nam at magna eu ipsum vestibulum elementum vel in magna. Duis vestibulum nec erat a ultricies. Ut consectetur vitae lacus id consectetur. Curabitur gravida consectetur dictum. Mauris congue porta leo, non ultricies neque sagittis et. Donec sed ante nec orci viverra vehicula. Nam id tincidunt ante, ut interdum sem. Nulla ac erat sit amet quam mattis tincidunt eget sed nunc. Proin risus dolor, cursus ut lacinia eget, suscipit at urna. Nam at magna eu ipsum vestibulum elementum vel in magna. Duis vestibulum nec erat a ultricies. Ut consectetur vitae lacus id consectetur. Curabitur gravida consectetur dictum. Mauris congue porta leo, non ultricies neque sagittis et.</p>
													</div>
												</div>
											</div>

												<div class="">
													<div class="sc_section">
														<div class="sc_line sc_line_style_solid"></div>
														<h3 class="sc_title margin_bottom_small">Lists</h3>
														<div class="columns_wrap sc_columns sc_columns_count_3">
															<div class="column-1_3 sc_column_item">
																<ol class="sc_list sc_list_style_ol">
																	<li class="sc_list_item">
																		Lorem ipsum dolor sit
																	</li>
																	<li class="sc_list_item">
																		Amet, consectetur
																	</li>
																	<li class="sc_list_item">
																		Eiusmod tempor dolore
																	</li>
																	<li class="sc_list_item">
																		Ut enim ad minim veniam
																	</li>
																	<li class="sc_list_item">
																		Quis nostrud exercitation
																	</li>
																</ol>
															</div>
															<div class="column-1_3 sc_column_item">
																<ul class="sc_list sc_list_style_iconed">
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-angle-right-1"> </span>
																		Lorem ipsum dolor sit
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-angle-right-1"> </span>
																		Amet, consectetur
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-angle-right-1"> </span>
																		Eiusmod tempor dolore
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-angle-right-1"> </span>
																		Ut enim ad minim veniam
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-angle-right-1"> </span>
																		Quis nostrud exercitation
																	</li>
																</ul>
															</div>
															<div class="column-1_3 sc_column_item">
																<ul class="sc_list sc_list_style_iconed">
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-check-1"> </span>
																		Lorem ipsum dolor sit
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-check-1">
																		</span>
																		Amet, consectetur
																	</li>
																	<li class="sc_list_item style_2">
																		<span class="sc_list_icon icon-cancel-1"> </span>
																		Eiusmod tempor dolore
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-check-1"> </span>
																		Ut enim ad minim veniam
																	</li>
																	<li class="sc_list_item">
																		<span class="sc_list_icon icon-check-1"> </span>
																		Quis nostrud exercitation
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
										</section>
									</article>
								</div>
							</div>
						</div>
					</section>
			</div>  

			<footer class="footer_wrap bg_tint_dark footer_style_dark widget_area">
				<div class="content_wrap">
					<div class="columns_wrap">
						<aside class="column-1_4 widget widget_socials">
							<div class="widget_inner">
								<center>
									<div class="logo">
										<a href="index.html">
											<img src="images/200.png" alt="">
										</a>
									</div>
								</center>
								<center>
								<div class="logo_descr"><b><i>Beba menos, beba melhor!</i></b></div>
								</center>
								<center>
								<div class="sc_socials sc_socials_size_small">
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_facebook icons">
											<span class="icon-facebook"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_dribbble icons">
											<span class="icon-dribbble"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_gplus icons">
											<span class="icon-gplus"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_tumblr icons">
											<span class="icon-tumblr"> </span>
										</a>
									</div>
								</div>
								</center>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Contatos</h5>
							<div class="textwidget">
								<div class="widget_contacts">
									<span class="sc_icon icon-geolocalizator"></span> 
									R. Cuiabá, 160 - Jóquei Clube
									Fortaleza - CE, 60510-055
									<br/>
									<span class="sc_icon icon-tablet"></span>
									+55 85 98504-8232<br> 
									85 99934-2980</br>
									<br/>
									<span class="sc_icon icon-mail-3"></span>
									urllanbrito@escolacervejeira.com.br
								</div>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Horários</h5>
							<div class="textwidget">
								<ul class="dotted_bg">
									<li>
										<span>Monday</span>
										<span>Closed</span>
									</li>
									<li>
										<span>Tue-Fri</span>
										<span>10 am - 12 pm</span>
									</li>
									<li>
										<span>Sat-Sun</span>
										<span>8 am - 11 pm</span>
									</li>
									<li>
										<span>Holidays</span>
										<span>8 am - 11 pm</span>
									</li>
								</ul>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Buscar</h5>
							<div class="textwidget">Faça sua busca com base nas palavras mais relevantes.
								<div class="search_wrap search_style_regular search_opened" title="Open/close search form">
									<a href="#" class="search_icon icon-search">
									</a>
									<div class="search_form_wrap">
										<form method="get" class="search_form" action="#">
											<button type="submit" class="search_submit icon-search-1" title="Start search"></button>
											<input type="text" class="search_field" placeholder="" value="" name="s" title=""/>
										</form>
									</div>
									<div class="search_results widget_area bg_tint_light">
										<a class="search_results_close icon-cancel-1"> </a>
										<div class="search_results_content"> </div>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap">
				<div class="content_wrap">
					Desenvolvido por ©<a href="http://acens.uece.br/">ACENS</a> 2016 All Rights Reserved.
				</div>
			</div>
		</div>  
	</div>  

	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>

	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>


	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>

	<script type='text/javascript' src='js/custom/_main.js'></script>

	<script type='text/javascript' src='js/vendor/superfish.min.js'></script>
	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type="text/javascript" src="js/vendor/core.min.js"></script>
	<script type='text/javascript' src='js/vendor/widget.min.js'></script>
	<script type='text/javascript' src='js/vendor/accordion.min.js'></script>
	<script type='text/javascript' src='js/vendor/tabs.min.js'></script>
	<script type='text/javascript' src='js/vendor/effect.min.js'></script>
	<script type='text/javascript' src='js/vendor/effect-fade.min.js'></script>
	<script type='text/javascript' src='js/vendor/diagram/chart.min.js'></script>
	<script type='text/javascript' src='js/custom/core.messages/core.messages.js'></script>
	<script type='text/javascript' src='js/vendor/mediaelement/mediaelement-and-player.min.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper-2.7.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper.scrollbar-2.4.js'></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
	<script type='text/javascript' src='js/custom/core.googlemap.min.js'></script>

	<!--<script type='text/javascript' src='custom_tools/js/skin.customizer.js'></script>
	<script type='text/javascript' src='custom_tools/js/front.customizer.js'></script>-->

</body>
</html>