{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
	<title>Escola Cervejeira</title>
	<link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/settings.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/vendor/swiper/idangerous.swiper.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/skin.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/responsive.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='js/custom/core.messages/core.messages.css' type='text/css' media='all'/>

	<!--<link rel='stylesheet' href='custom_tools/css/front.customizer.css' type='text/css' media='all'/>-->

</head>

<body class="home page body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">
	<div class="body_wrap">
		<div class="page_wrap">

			<div class="top_panel_fixed_wrap"> </div>
			<header class="top_panel_wrap bg_tint_dark bg_header_1">
				<div class="menu_main_wrap logo_left">
					<div class="content_wrap clearfix">
						<div class="logo">
							<a href="index.html">
								<img src="images/logec1.png" class="logo_main" alt="">
								<img src="images/logec2.png" class="logo_fixed" alt="">
								<span class="logo_slogan">Irish Tavern - pub Theme</span>
							</a>
						</div>
						<a href="#" class="menu_main_responsive_button icon-menu-1">
						</a>
						<nav class="menu_main_nav_area">
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item">
									<a href="index.html">Home</a>
								</li>
								<li class="menu-item">
									<a href="features-beer-shop.html">Busca Cervejeira</a>
								</li>
								<li class="menu-item">
									<a href="gallery-cobbles.html">Galeria</a>
								</li>
								<li class="menu-item">
									<a href="blog-with-sidebar.html">Blog</a>
								</li>
								<li class="booking menu-item">
									<a href=""></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>

			<div class="page_content_wrap wrap_custom">

					<section class="">
						<div class="container">
							<div class="row">
								<div class="sc_section bg_tint_light aligncenter">
									<div class="sc_content content_wrap">
										<div class="aligncenter margin_bottom_middle">
											<h1 class="sc_title styling1 margin_bottom_small">Galeria de Fotos</h1>
										</div>
										<article class="myportfolio-container flat-light" id="unstyled">
											<div id="esg-grid-2-1" class="esg-grid">
												<ul>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_49811149_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_49811149_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_57986203_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_57986203_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="2" data-cobblesh="2">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/bar-chat-chatting-2286.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/bar-chat-chatting-2286.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/kaboompics.com_Water-with-lemon-in-glass.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/kaboompics.com_Water-with-lemon-in-glass.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="3">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/oIpwxeeSPy1cnwYpqJ1w_Dufer-Collateral-test.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/oIpwxeeSPy1cnwYpqJ1w_Dufer-Collateral-test.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_45022533_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_45022533_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_20067713_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_20067713_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_5022744_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_5022744_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/kaboompics.com_Spinach-and-Beetroot-Salad.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/kaboompics.com_Spinach-and-Beetroot-Salad.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_4248292_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_4248292_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_23109712_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_23109712_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_63226171_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_63226171_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_5051904_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_5051904_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/82181814.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/82181814.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_22848496_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_22848496_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_5022728_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_5022728_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/home-1-img-1.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/home-1-img-1.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_62664067_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_62664067_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/team_3.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/team_3.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/team_2.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/team_2.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_56349665_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_56349665_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/beer_table.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/beer_table.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/red-wine-tapas-3540.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/red-wine-tapas-3540.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_18772761_original1.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_18772761_original1.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_5022744_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_5022744_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/picjumbo.com_foodiesfeed.com_DSC_0002.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/picjumbo.com_foodiesfeed.com_DSC_0002.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_50474927_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_50474927_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/picjumbo.com_20140314-DSC_0138.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/picjumbo.com_20140314-DSC_0138.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Brick-and-Mortar-Brick-and-Mortar-0003.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Brick-and-Mortar-Brick-and-Mortar-0003.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/82181814.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/82181814.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/kaboompics.com_Water-with-lemon-in-glass.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/kaboompics.com_Water-with-lemon-in-glass.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_23109712_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_23109712_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/EnF7DhHROS8OMEp2pCkx_Dufer-food-overhead-hig-res.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/EnF7DhHROS8OMEp2pCkx_Dufer-food-overhead-hig-res.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_49811149_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_49811149_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/beers.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/beers.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_4248292_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_4248292_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_51212555_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_51212555_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/red-wine-tapas-3540.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/red-wine-tapas-3540.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/picjumbo.com_20140314-DSC_0138.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/picjumbo.com_20140314-DSC_0138.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_41735639_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_41735639_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_63226171_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_63226171_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_5022728_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_5022728_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="images/Depositphotos_57986203_original.jpg" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="images/Depositphotos_57986203_original.jpg">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
												</ul>
												<article class="esg-filters esg-multiplefilters margin_top_middle">
													<div class="esg-pagination  esg-fgc-2"> </div>
												</article>
												<div class="esg-clear-no-height"> </div>
												<article class="esg-filters esg-multiplefilters esg-navbutton-solo-left">
													<div class="esg-navigationbutton esg-left  esg-fgc-2">
														<i class="eg-icon-left-open"> </i>
													</div>
												</article>
												<div class="esg-clear-no-height"> </div>
												<article class="esg-filters esg-multiplefilters esg-navbutton-solo-right">
													<div class="esg-navigationbutton esg-right  esg-fgc-2">
														<i class="eg-icon-right-open"> </i>
													</div>
												</article>
												<div class="esg-clear-no-height"> </div>
											</div>
										</article>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</section>

			</div>

			<footer class="footer_wrap bg_tint_dark footer_style_dark widget_area">
				<div class="content_wrap">
					<div class="columns_wrap">
						<aside class="column-1_4 widget widget_socials">
							<div class="widget_inner">
								<center>
									<div class="logo">
										<a href="index.html">
											<img src="images/200.png" alt="">
										</a>
									</div>
								</center>
								<center>
								<div class="logo_descr"><b><i>Beba menos, beba melhor!</i></b></div>
								</center>
								<center>
								<div class="sc_socials sc_socials_size_small">
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_facebook icons">
											<span class="icon-facebook"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_dribbble icons">
											<span class="icon-dribbble"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_gplus icons">
											<span class="icon-gplus"> </span>
										</a>
									</div>
									<div class="sc_socials_item">
										<a href="#" target="_blank" class="social_icons social_tumblr icons">
											<span class="icon-tumblr"> </span>
										</a>
									</div>
								</div>
								</center>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Contatos</h5>
							<div class="textwidget">
								<div class="widget_contacts">
									<span class="sc_icon icon-geolocalizator"></span>
									R. Cuiabá, 160 - Jóquei Clube
									Fortaleza - CE, 60510-055
									<br/>
									<span class="sc_icon icon-tablet"></span>
									+55 85 98504-8232<br>
									85 99934-2980</br>
									<br/>
									<span class="sc_icon icon-mail-3"></span>
									urllanbrito@escolacervejeira.com.br
								</div>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Horários</h5>
							<div class="textwidget">
								<ul class="dotted_bg">
									<li>
										<span>Monday</span>
										<span>Closed</span>
									</li>
									<li>
										<span>Tue-Fri</span>
										<span>10 am - 12 pm</span>
									</li>
									<li>
										<span>Sat-Sun</span>
										<span>8 am - 11 pm</span>
									</li>
									<li>
										<span>Holidays</span>
										<span>8 am - 11 pm</span>
									</li>
								</ul>
							</div>
						</aside>
						<aside class="column-1_4 widget widget_text">
							<h5 class="widget_title">Buscar</h5>
							<div class="textwidget">Faça sua busca com base nas palavras mais relevantes.
								<div class="search_wrap search_style_regular search_opened" title="Open/close search form">
									<a href="#" class="search_icon icon-search">
									</a>
									<div class="search_form_wrap">
										<form method="get" class="search_form" action="#">
											<button type="submit" class="search_submit icon-search-1" title="Start search"></button>
											<input type="text" class="search_field" placeholder="" value="" name="s" title=""/>
										</form>
									</div>
									<div class="search_results widget_area bg_tint_light">
										<a class="search_results_close icon-cancel-1"> </a>
										<div class="search_results_content"> </div>
									</div>
								</div>
							</div>
						</aside>
					</div>
				</div>
			</footer>

			<div class="copyright_wrap">
				<div class="content_wrap">
					Desenvolvido por ©<a href="http://acens.uece.br/">ACENS</a> 2016 All Rights Reserved.
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>

	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>


	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/lightbox.js'></script>
	<script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.essential.min.js'></script>

	<script type='text/javascript' src='js/custom/_main.js'></script>
	<script type='text/javascript' src='js/custom/_form_contact.js'></script>


	<script type='text/javascript' src='js/vendor/superfish.min.js'></script>
	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/custom/core.messages/core.messages.js'></script>
	<script type='text/javascript' src='js/vendor/core.min.js'></script>
	<script type='text/javascript' src='js/vendor/widget.min.js'></script>
	<script type='text/javascript' src='js/vendor/tabs.min.js'></script>
	<script type='text/javascript' src='js/vendor/effect.min.js'></script>
	<script type='text/javascript' src='js/vendor/effect-fade.min.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper-2.7.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper.scrollbar-2.4.js'></script>

	<!--<script type='text/javascript' src='custom_tools/js/skin.customizer.js'></script>
	<script type='text/javascript' src='custom_tools/js/front.customizer.js'></script>-->

</body>
</html>
