{% load staticfiles %}
 <!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}"/>
	<title>Escola Cervejeira</title>
	<script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel='stylesheet' href="{% static 'css/bootstrap.css' %}" type='text/css' media='all'/>
    <link rel="stylesheet" href="{$ static 'css/stylem.css' %}" type="text/css">
	<link rel='stylesheet' href="{% static 'js/vendor/swiper/idangerous.swiper.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/revslider/css/settings.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/shortcodes.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/core.animation.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/skin.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/responsive.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/custom/core.messages/core.messages.css' %}" type='text/css' media='all'/>
  <script type="text/javascript" src="{% static 'https://maps.googleapis.com/maps/api/js?sensor=false' %}"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylem.css' %}">

	<!--<link rel='stylesheet' href='custom_tools/css/front.customizer.css' type='text/css' media='all'/>-->

</head>

<body class="home page body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"></div>
			<header class="top_panel_wrap bg_tint_dark bg_header_1">
				<div class="menu_main_wrap logo_left">
					<div class="content_wrap clearfix">
						<div class="logo">
							<a href="">
								<img src="images/logec1.png" class="logo_main" alt="">
								<img src="images/logec2.png" class="logo_fixed" alt="">
								<span class="logo_slogan">Irish Tavern - pub Theme</span>
							</a>
						</div>
						<a href="#" class="menu_main_responsive_button icon-menu-1">
						</a>
						<nav class="menu_main_nav_area" >
							<ul id="menu_main" class="menu_main_nav">
								<li class="menu-item">
									<a href="index.html">Home</a>
								</li>
								<li class="menu-item">
									<a class="page-scroll" href="#mainslider_2">Sobre nós</a>
								</li>
								<li class="menu-item">
									<a class="page-scroll" href="#page-contato">Mapa e contato</a>
								</li>
								<li class="menu-item">
									<a href="gallery-cobbles.html">Galeria</a>
								</li>
								<li class="booking menu-item">
									<a href=""></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			</div>
			<section id="mainslider_1" class="slider_wrap slider_fullwide slider_engine_revo slider_alias_slider-home mainslider_1">
				<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
					<div id="rev_slider_1" class="rev_slider fullwidthabanner">
						<ul>
							<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
								<img src="images/slider-1-bg.jpg" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
								<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="0" data-y="bottom" data-voffset="78" data-speed="1200" data-start="450" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-1-bottom.png" alt="">
								</div>
								<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="-38" data-y="36" data-speed="800" data-start="250" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-1-top.png" alt="">
								</div>
								<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-115" data-y="center" data-voffset="148" data-speed="1100" data-start="400" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-1-left.png" alt="">
								</div>
								<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="-10" data-y="center" data-voffset="120" data-speed="1100" data-start="550" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-1-right.png" alt="">
								</div>
								<div class="tp-caption sft  slider-1-slide-1-top-left rs-parallaxlevel-0" data-x="-14" data-y="-4" data-speed="800" data-start="250" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-1-top-left.png" alt="">
								</div>
							</li>
							<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
								<img src="images/slider-1-bg.jpg" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
								<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="132" data-y="bottom" data-voffset="80" data-speed="1200" data-start="250" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-2-bottom.png" alt="">
								</div>
								<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="24" data-y="-80" data-speed="800" data-start="450" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-2-top.png" alt="">
								</div>
								<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-48" data-y="center" data-voffset="103" data-speed="1100" data-start="550" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-2-left.png" alt="">
								</div>
								<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="313" data-y="-22" data-speed="1100" data-start="400" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-2-right.png" alt="">
								</div>
								<div class="tp-caption sfl  slider-1-slide-1-left-top rs-parallaxlevel-0" data-x="-29" data-y="44" data-speed="1100" data-start="550" data-easing="Power2.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-2-left-top.png" alt="">
								</div>
							</li>
							<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
								<img src="images/slider-1-bg-2.jpg" alt="slider-1-bg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
								<div class="tp-caption sfb  slider-1-slide-1-bottom rs-parallaxlevel-0" data-x="center" data-hoffset="115" data-y="bottom" data-voffset="119" data-speed="1200" data-start="400" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-3-bottom.png" alt="">
								</div>
								<div class="tp-caption sft  slider-1-slide-1-top rs-parallaxlevel-0" data-x="center" data-hoffset="76" data-y="-63" data-speed="800" data-start="550" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-3-top.png" alt="">
								</div>
								<div class="tp-caption sfl  slider-1-slide-1-left rs-parallaxlevel-0" data-x="-219" data-y="center" data-voffset="-28" data-speed="1100" data-start="450" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-3-left.png" alt="">
								</div>
								<div class="tp-caption sfr  slider-1-slide-1-right rs-parallaxlevel-0" data-x="right" data-hoffset="71" data-y="center" data-voffset="-32" data-speed="1100" data-start="250" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-3-right.png" alt="">
								</div>
								<div class="tp-caption sfl  slider-1-slide-1-left-bottom rs-parallaxlevel-0" data-x="-224" data-y="552" data-speed="1100" data-start="550" data-easing="Power4.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
									<img src="images/slider-1-slide-3-left-bottom.png" alt="">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<div class="sc_section">
				<h1 class="sc_title aligncenter styling1 margin_bottom_small"></h1>
			</div>
   <section id="mainslider_2">
			<div class="page_content_wrap wrap_custom">
			<div id="myCarousel" class="carousel slide img-responsive" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
        	<img class = "img-responsive" src="images/home-3-slide1.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="cordafonte">Quem Somos?</h1>
                    <h3 class="cordafonte">Conheça-nos e se surpreeda!</h3>
                    <p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="features-who.html" role="button">Quem Somos</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class = "img-responsive" src="images/home-3-slide2.jpg">
            <div class="container">
                <div class="carousel-caption cordafonte">
                    <h1 class="cordafonte">Equipe</h1>
                    <h3 class="cordafonte">Conheça a equipe que faz parte da nossa escola!</h3>
                    <p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="features-staff.html" role="button">Equipe</a></p>
                </div>
            </div>
        </div>
        <div class="item">
        	<img class = "img-responsive" src="images/home-3-slide3.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="cordafonte">Nossos Serviços</h1>
                    <h3 class="cordafonte">Fique por dentro das nossas especialidades!</h3>
                    <p class="cordafonte"><a class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="features-services.html" role="button">Serviços</a></p>
                </div>
            </div>
        </div>
    </div> <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
</section>

	<link rel='stylesheet' href='js/custom/core.messages/core.messages.css' type='text/css' media='all'/>

					<section id="page-blog" class="content_wrap isotope_section">
						<div class="container">
							<div class="row">
								<div class="sc_section bg_tint_light">
									<h1 class="sc_title aligncenter styling1 margin_bottom_small">Nosso Blog</h1>
									<div class="sc_blogger layout_classic_4 template_masonry sc_blogger_horizontal">
										<div class="isotope_wrap" data-columns="4">
											<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
												<div class="post_item post_item_classic post_item_classic_4	post_format_standard">
													<div class="post_featured">
														<div class="post_thumb sc_image_styled" data-image="images/Depositphotos_57986203_original.jpg" data-title="Ideal Dinner in the Beer Garden">
															<a class="hover_icon hover_icon_link" href="#">
																<img alt="Ideal Dinner in the Beer Garden" src="images/Depositphotos_57986203_original-260x140.jpg">
															</a>
														</div>
													</div>
													<div class="post_content isotope_item_content">
														<h4 class="post_title">
														<a href="#">Ideal Dinner in the Beer Garden</a>
														</h4>
														<div class="post_descr">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam ante nec magna pharetra feugiat. Phasellus et...</p>
														</div>
														<div class="post_info">
															<span class="post_info_item post_info_posted">
																Posted
																<a href="#" class="post_info_date">January 14, 2015</a>
															</span>
														</div>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
															<span>MORE</span>
															<span>MORE</span>
														</a>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">
															<span>308</span>
															<span>308</span>
														</a>
													</div>
												</div>
											</div>
											<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
												<div class="post_item post_item_classic post_item_classic_4 post_format_standard even">
													<div class="post_featured">
														<div class="post_thumb sc_image_styled" data-image="Depositphotos_18772761_original.jpg" data-title="Best Food to Compliment Beer">
															<a class="hover_icon hover_icon_link" href="#">
																<img alt="Best Food to Compliment Beer" src="images/Depositphotos_18772761_original-260x140.jpg">
															</a>
														</div>
													</div>
													<div class="post_content isotope_item_content">
														<h4 class="post_title">
														<a href="#">Best Food to Compliment Beer</a>
														</h4>
														<div class="post_descr">
															<p>Duis eget dictum eros, in dictum sem. Vivamus sed molestie sapien. Aliquam et facilisis arcu, ut molestie augue...</p>
														</div>
														<div class="post_info">
															<span class="post_info_item post_info_posted">
																Posted
																<a href="#" class="post_info_date">January 14, 2015</a>
															</span>
														</div>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
															<span>MORE</span>
															<span>MORE</span>
														</a>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">
															<span>222</span>
															<span>222</span>
														</a>
													</div>
												</div>
											</div>
											<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
												<div class="post_item post_item_classic post_item_classic_4 post_format_standard">
													<div class="post_featured">
														<div class="post_thumb sc_image_styled" data-image="images/Depositphotos_5022744_original.jpg.png" data-title="Searching for the Perfect Pint">
															<a class="hover_icon hover_icon_link" href="#">
																<img alt="Searching for the Perfect Pint" src="images/Depositphotos_5022744_original-260x140.jpg">
															</a>
														</div>
													</div>
													<div class="post_content isotope_item_content">
														<h4 class="post_title">
														<a href="#">Searching for the Perfect Pint</a>
														</h4>
														<div class="post_descr">
															<p>Sed ac egestas nisl. Sed vestibulum ac diam sit amet porta. Vivamus est neque, tristique quis tempor at, consequat a...</p>
														</div>
														<div class="post_info">
															<span class="post_info_item post_info_posted">
																Posted
																<a href="#" class="post_info_date">January 13, 2015</a>
															</span>
														</div>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
															<span>MORE</span>
															<span>MORE</span>
														</a>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">
															<span>210</span>
															<span>210</span>
														</a>
													</div>
												</div>
											</div>
											<div class="isotope_item isotope_item_classic isotope_item_classic_4 isotope_column_4">
												<div class="post_item post_item_classic post_item_classic_4 post_format_standard even last">
													<div class="post_featured">
														<div class="post_thumb sc_image_styled" data-image="images/Depositphotos_41735639_original.jpg" data-title="Grilled Beer-cooked Sausages">
															<a class="hover_icon hover_icon_link" href="#">
																<img alt="Grilled Beer-cooked Sausages" src="images/Depositphotos_41735639_original-260x140.jpg">
															</a>
														</div>
													</div>
													<div class="post_content isotope_item_content">
														<h4 class="post_title">
														<a href="#">Grilled Beer-cooked Sausages</a>
														</h4>
														<div class="post_descr">
															<p>Duis bibendum commodo ultrices. Phasellus venenatis velit mauris, non sagittis tortor consectetur hendrerit...</p>
														</div>
														<div class="post_info">
															<span class="post_info_item post_info_posted">
																Posted
																<a href="#" class="post_info_date">January 13, 2015</a>
															</span>
														</div>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
															<span>MORE</span>
															<span>MORE</span>
														</a>
														<a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_small">
															<span>223</span>
															<span>223</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				

					<!--
					<section id="page-busca" class="block_bg">
						<div class="container">
							<div class="row">
								<div class="sc_section aligncenter">
									<div class="sc_content content_wrap">
										<h1 class="sc_title sc_title_regular sc_align_center styling1">Busca Cervejeira</h1>
										<div class="sc_section aligncenter">
											<p>Faça uma busca inteligente da cerveja que você quer.</p>
										</div>
										<div class="columns_wrap sc_columns sc_columns_count_4 columns_block margin_top_small">
											<div class="column-1_4 sc_column_item">
												<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
													<img src="images/beer-1.png" alt=""/>
												</figure>
												<h5 class="sc_title sc_title_regular sc_align_center">PILSNER</h5>
												<p>.</p>
											</div>
											<div class="column-1_4 sc_column_item">
												<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
													<img src="images/beer-2.png" alt=""/>
												</figure>
												<h5 class="sc_title sc_title_regular sc_align_center">STOUTS</h5>
												<p>.</p>
											</div>
											<div class="column-1_4 sc_column_item sc_column_item_3">
												<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
													<img src="images/beer-3.png" alt=""/>
												</figure>
												<h5 class="sc_title sc_title_regular sc_align_center">PALE ALE</h5>
												<p></p>
											</div>
											<div class="column-1_4 sc_column_item sc_column_item_4">
												<figure class="sc_image  sc_image_shape_square sc_image_none margin_bottom_small">
													<img src="images/beer-4.png" alt=""/>
												</figure>
												<h5 class="sc_title sc_title_regular sc_align_center">BROWN ALE</h5>
												<p></p>
											</div>
										</div>
									</div>
									<a href="features-beer-shop.html" class="sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small">
										<span>FAÇA UMA BUSCA</span>
										<span>FAÇA UMA BUSCA</span>
									</a>
								</div>
							</div>
						</div>
					</section>
					-->

					<!--
                    <iframe class="center-block" src="https://www.google.com/maps/d/embed?mid=1WDPPNTtG4dEhUoZigcoaQ1zuTHg" width=75% height="100"></iframe>
					<section class="bg_image_10">
						<div class="container">
							<div class="row">
								<div class="sc_section aligncenter">
									<div class="sc_section_content">
										<div class="sc_content content_wrap">
											<h1 class="sc_title margin_top_none styling3">Inscreva-se para nossas atualizações</h1>
											<div class="sc_section aligncenter">
												<p>Inscreva-se e mantenha-se atualizado com as nossas novidades e promoções especiais!</p>
											</div>
											<div class="sc_emailer aligncenter sc_emailer_opened">
												<form class="sc_emailer_form">
													<div>
														<input type="text" class="sc_emailer_input" name="email" value="" placeholder="Please, enter you email address.">
													</div>
													<a class="sc_emailer_button sc_button sc_button_square sc_button_style_filled sc_button_bg_user sc_button_size_small" href="#" title="Submit" data-group="E-mailer subscription">
														<span>INSCREVER</span>
														<span>INSCREVER</span>
													</a>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					-->

					<section class="bg_image_10 bg_tint_light">
					<div class="container">
						<div class="row">
							<div class="content_wrap">
								<div class="columns_wrap">
									<div class="column-1_2 sc_column_item">
										<figure class="sc_image  sc_image_shape_square sc_image_styled">
											<img src="images/contact.jpg" alt=""/>
										</figure>
									</div>
									<div class="column-1_2 sc_column_item">
										<div class="sc_contact_form sc_contact_form_standard alignleft contact_form_1">
											<h2 class="sc_contact_form_title">Entre em contato!!</h2>
											<p class="sc_contact_form_description">Preencha o formulário para entrar em contato conosco. Seu email não será divulgado.</p>
										    <form class="contact_1" method="post" role="form" id="register_form" action="formContato.php">
										        <div class="sc_contact_form_info">
													<div class="sc_contact_form_item sc_contact_form_field label_over">
										                <input type="text" required="required" name="nome" id="contact_form_username" placeholder="Nome *">
										            </div>
										            <div class="sc_contact_form_item sc_contact_form_field label_over">
										                <input type="email" required="required" name="email" id="contact_form_email" placeholder="Email *">
										            </div>
										        </div>
										        <div class="message sc_contact_form_item sc_contact_form_message label_over">
									                <textarea  id="contact_form_message" required="required" class="textAreaSize" name="menssagem" placeholder="Mensagem *"></textarea>
										        </div>
												<div class="sc_contact_form_item sc_contact_form_button">
													<div class="squareButton sc_button_size sc_button_style_global global">
														<button type="submit" name="enviarFormulario" class="contact_form_submit" value="Enviar">ENVIAR</button>
													</div>
												</div>

										        <div class="result sc_infobox"></div>
										    </form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>

			<footer class="footer_wrap bg_tint_dark footer_style_dark widget_area">
				<div class="content_wrap">
					<div class="columns_wrap">
						<aside class="column-1_2 widget widget_socials">
							<div class="widget_inner">
								<center>
									<div class="logo">
										<a href="index.html">
											<img src="images/200.png" alt="">
										</a>
									</div>
								</center>
								<center>
								<div class="logo_descr"><b><i>Beba menos, beba melhor!</i></b></div>
								</center>
								<center>
								<div class="sc_socials sc_socials_size_small">
									<div class="sc_socials_item">
										<a href="https://www.facebook.com/CervejeiraEscola/" target="_blank" class="social_icons social_facebook icons">
											<span class="icon-facebook"> </span>
										</a>
									</div>
									<!--
									<div class="sc_socials_item">
										<a href="https://www.instagram.com/escolacervejeira/" target="_blank" class="social_icons social_instagram icons">
											<span class="icon-instagram"> </span>
										</a>
									</div>
									-->
								</div>
								</center>
							</div>
						</aside>
						<aside class="column-1_2 widget widget_text">
							<h5 class="widget_title">Contatos</h5>
							<div class="textwidget">
								<div class="widget_contacts">
									<span class="sc_icon icon-geolocalizator"></span>
									R. Cuiabá, 160 - Jóquei Clube
									Fortaleza - CE, 60510-055
									<br/>
									<span class="sc_icon icon-tablet"></span>
									+55 85 98504-8232<br>
									85 99934-2980</br>
									<br/>
									<span class="sc_icon icon-mail-3"></span>
									contato@escolacervejeira.com.br
								</div>
							</div>
						</aside>

						<!--
						<aside class="column-1_3 widget widget_text">
							<h5 class="widget_title">Buscar</h5>
							<div class="textwidget">Faça sua busca com base nas palavras mais relevantes.
								<div class="search_wrap search_style_regular search_opened" title="Open/close search form">
									<a href="#" class="search_icon icon-search">
									</a>
									<div class="search_form_wrap">
										<form method="get" class="search_form" action="#">
											<button type="submit" class="search_submit icon-search-1" title="Start search"></button>
											<input type="text" class="search_field" placeholder="" value="" name="s" title=""/>
										</form>
									</div>
									<div class="search_results widget_area bg_tint_light">
										<a class="search_results_close icon-cancel-1"> </a>
										<div class="search_results_content"> </div>
									</div>
								</div>
							</div>
						</aside>
						-->
					</div>
				</div>
			</footer>

			<div class="copyright_wrap">
				<div class="content_wrap">
					Desenvolvido por ©<a href="http://acens.uece.br/">ACENS</a> 2016 All Rights Reserved.
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>

	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>


	<script type='text/javascript' src='js/vendor/jquery-1.11.3.min.js'></script>
	<script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='js/vendor/revslider/js/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='js/vendor/revslider/js/jquery.themepunch.revolution.min.js'></script>

	<script type='text/javascript' src='js/custom/_main.js'></script>


	<script type='text/javascript' src='js/vendor/superfish.min.js'></script>
	<script type='text/javascript' src='js/custom/core.utils.min.js'></script>
	<script type='text/javascript' src='js/custom/core.init.min.js'></script>
	<script type='text/javascript' src='js/custom/shortcodes.min.js'></script>
	<script type='text/javascript' src='js/vendor/countdown/jquery.plugin.js'></script>
	<script type='text/javascript' src='js/vendor/countdown/jquery.countdown.js'></script>
	<script type='text/javascript' src='js/custom/core.messages/core.messages.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper-2.7.js'></script>
	<script type='text/javascript' src='js/vendor/swiper/idangerous.swiper.scrollbar-2.4.js'></script>
	<script type='text/javascript' src='js/vendor/isotope.pkgd.min.js'></script>

	<!--<script type='text/javascript' src='custom_tools/js/skin.customizer.js'></script>
	<script type='text/javascript' src='custom_tools/js/front.customizer.js'></script>-->

</body>
</html>
