{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'equipe' %}">Nosso Time</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Perfil</span>
					</div>
					<h1 class="page_title">Perfil</h1>
				</div>
			</div>

			<div class="page_content_wrap">

					<section class="content_wrap no_padding">
						<div class="container">
							<div class="row">
								<article class="post_item post_featured_right team">
									<section class="post_featured">
										<div class="post_thumb" data-image="{% static 'images/500x500.png' %}" data-title="{{ membro.nome }}">
											<a class="hover_icon hover_icon_view" href="{{ membro.imagem_url }}" title="{{ membro.nome }}">
												<img alt="{{ membro.nome }}" src="{{ membro.imagem_url }}">
											</a>
										</div>
									</section>
									<section class="post_content">
										<div class="column-1_2">
											<h3 class="sc_title">Biografia</h3>
											<h4 class="sc_title link_color margin_bottom_mini">{{ membro.nome }}</h4>
										</div>
										<div class="">
											<p class="text-justify">{{ membro.descricao }}</p>
										</div>
									</section>
								</article>
							</div>
						</div>
					</section>

			</div>

{% endblock content %}
