{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

<body class="single single-team body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">

	<div class="body_wrap">
		<div class="page_wrap">

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Quem Somos</span>
					</div>
					<h1 class="page_title">Quem Somos</h1>
				</div>
			</div>

			<div class="page_content_wrap">

					<section class="content_wrap no_padding">
						<div class="container">
							<div class="row">
								<article class="post_item post_featured_right team">
									<section class="post_featured">
										<div class="post_thumb" data-image="{% static 'images/500x500.png' %}" data-title="Escola Cervejeira">
											<a class="hover_icon hover_icon_view" href="{{ quem.imagem_url }}" title="Escola Cervejeira">
												<img alt="Escola Cervejeira" src="{{ quem.imagem_url }}">
											</a>
										</div>
									</section>
									<section class="post_content">
										<div class="column-1_2">
											<h3 class="sc_title">Escola Cervejeira</h3>
											<!-- <p>{{ quem.descricao }}</p> -->
											<!-- <p>Email John: <a href="mailto:info@example.com">info@example.com</a>
											<br/>
											Phone: +1(800)123-4566</p> -->
										</div>
										<div class="">
											<p class="text-justify">{{ quem.descricao }}</p>
										</div>
									</section>
								</article>
							</div>
						</div>
					</section>

					<!-- <section class="content_wrap no_padding custom_columns">
						<div class="container">
							<div class="row">
								<div class="columns_wrap sc_columns margin_top_mini">
									<div class="column-1_2 sc_column_item">
										<div class="sc_video_player">
											<div class="sc_video_frame sc_video_play_button hover_icon hover_icon_play" data-width="780" data-height="422" data-video="&lt;iframe class=&quot;video_frame&quot; src=&quot;https://player.vimeo.com/video/78577161?autoplay=1&quot; width=&quot;780&quot; height=&quot;422&quot; frameborder=&quot;0&quot; webkitAllowFullScreen=&quot;webkitAllowFullScreen&quot; mozallowfullscreen=&quot;mozallowfullscreen&quot; allowFullScreen=&quot;allowFullScreen&quot;&gt;&lt;/iframe&gt;">
												<img alt="" src="{% static 'images/Depositphotos_5022744_original.jpg' %}">
											</div>
										</div>
									</div>
									<div class="column-1_2 sc_column_item">
										<h3 class="sc_title">Honors &amp; Awards</h3>
										<ul class="sc_list sc_list_style_iconed">
											<li class="sc_list_item">
												<span class="sc_list_icon icon-dot"> </span>
												<p>
													<span class="sc_highlight link_color">
														<strong>In tincidunt sapien sed nibh scelerisque congue.</strong>
													</span>
													<br/>
													Maecenas ut libero eu metus tincidunt lobortis. Duis accumsan at mauris vel lacinia. Cras cursus eros vel commodo tincidunt.
												</p>
											</li>
											<li class="sc_list_item">
												<span class="sc_list_icon icon-dot"></span>
													<p>
														<span class="sc_highlight link_color">
															<strong>Phasellus tempor urna erat, a fringilla elit vulputate in.</strong>
														</span>
														<br/>
														Vivamus euismod mauris id sodales tincidunt. Aliquam est nibh, fringilla nec elit ut, molestie dictum tellus.
													</p>
											</li>
											<li class="sc_list_item">
												<span class="sc_list_icon icon-dot"></span>
												<p>
													<span class="sc_highlight link_color">
														<strong>Pellentesque id semper sapien.</strong>
													</span>
													<br/>
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</section> -->
			</div>
{% endblock content %}
