{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Nosso Time</span>
					</div>
					<h1 class="page_title">Nosso Time</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">
					<div class="sc_line sc_line_style_solid margin_top_big margin_bottom_small"></div>
								<div class="sc_section aligncenter">
									<div class="sc_content content_wrap" data-animation="animated fadeInUp normal">
										<h2 class="sc_title margin_bottom_small">Cervejeiros</h2>
										<div class="sc_section aligncenter">
											<div class="sc_team sc_team_style_2">
												<div class="sc_columns columns_wrap">
													<div class="column-1_3">
														<div class="sc_team_item sc_team_item_1">
															<div class="sc_team_item_avatar sc_image_styled">
																<img alt="{% static '500x500.png' %}" src="{% static 'images/team_2.jpg' %}">
																<div class="sc_team_item_hover">
																	<div class="sc_team_item_socials">
																		<div class="sc_team_item_description">
																			<p>Royal L. Garff Presidential Chair in Marketing, Marketing Department, Department of Marketing<br/>
																			Presidential Professor, Marketing Department, University of Utah</p>
																		</div>
																		<div class="sc_socials sc_socials_size_small">
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_facebook icons">
																					<span class="icon-facebook">
																					</span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_dribbble icons">
																					<span class="icon-dribbble">
																					</span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_gplus icons">
																					<span class="icon-gplus">
																					</span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_tumblr icons">
																					<span class="icon-tumblr">
																					</span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="sc_team_item_info">
																<h6 class="sc_team_item_title">
																	<a href="{% url 'membro' %}">Alberto Hoffman</a>
																</h6>
																<div class="sc_team_item_position">brew master</div>
															</div>
														</div>
													</div>
													<div class="column-1_3">
														<div class="sc_team_item sc_team_item_2">
															<div class="sc_team_item_avatar sc_image_styled">
																<img alt="{% static 'team1.jpg' %}" src="{% static 'images/team_2.jpg' %}">
																<div class="sc_team_item_hover">
																	<div class="sc_team_item_socials">
																		<div class="sc_team_item_description">
																			<p>Donec ut tincidunt purus. Vestibulum ultrices est id arcu iaculis, quis blandit nunc accumsan.</p>
																		</div>
																		<div class="sc_socials sc_socials_size_small">
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_facebook icons">
																					<span class="icon-facebook"> </span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_dribbble icons">
																					<span class="icon-dribbble"> </span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_tumblr icons">
																					<span class="icon-tumblr"> </span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="sc_team_item_info">
																<h6 class="sc_team_item_title">
																<a href="{% url 'membro' %}">Edwin Wood</a>
																</h6>
																<div class="sc_team_item_position">Master Chef</div>
															</div>
														</div>
													</div>
													<div class="column-1_3">
														<div class="sc_team_item sc_team_item_3">
															<div class="sc_team_item_avatar sc_image_styled">
																<img alt="{% static 'team5.jpg' %}" src="{% static 'images/team_2.jpg' %}">
																<div class="sc_team_item_hover">
																	<div class="sc_team_item_socials">
																		<div class="sc_team_item_description">
																			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
																		</div>
																		<div class="sc_socials sc_socials_size_small">
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_facebook icons">
																					<span class="icon-facebook"> </span>
																				</a>
																			</div>
																			<div class="sc_socials_item">
																				<a href="#" target="_blank" class="social_icons social_dribbble icons">
																					<span class="icon-dribbble"> </span>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="sc_team_item_info">
																<h6 class="sc_team_item_title">
																	<a href="{% url 'membro' %}">Sancho Pansa</a>
																</h6>
																<div class="sc_team_item_position">bartender</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
					<section class="content_wrap">
						<div class="container">
							<div class="row">
								<div class="sc_section">
									<div class="sc_content content_wrap">
										<h2 class="sc_title aligncenter margin_bottom_small">Sobre nosso espírito de equipe</h2>
										<div class="columns_wrap sc_columns">
											<div class="column-1_2 sc_column_item">
												<blockquote cite="#" class="sc_quote">
													<p>Cooking is not difficult. Everyone has taste, even if they don&#8217;t realize it. Even if you&#8217;re not a great chef, there&#8217;s nothing to stop you understanding the difference between what tastes good and what doesn&#8217;t.</p>
													<p class="sc_quote_title">
														<a href="#">Gerard Depardieu</a>
													</p>
												</blockquote>
												<div class="sc_socials sc_socials_size_small">
													<div class="sc_socials_item">
														<a href="#" target="_blank" class="social_icons social_facebook icons">
															<span class="icon-facebook">
															</span>
														</a>
													</div>
													<div class="sc_socials_item">
														<a href="#" target="_blank" class="social_icons social_dribbble icons">
															<span class="icon-dribbble">
															</span>
														</a>
													</div>
													<div class="sc_socials_item">
														<a href="#" target="_blank" class="social_icons social_gplus icons">
															<span class="icon-gplus">
															</span>
														</a>
													</div>
													<div class="sc_socials_item">
														<a href="#" target="_blank" class="social_icons social_tumblr icons">
															<span class="icon-tumblr">
															</span>
														</a>
													</div>
												</div>
											</div>
											<div class="column-1_2 sc_column_item">
												<figure class="sc_image  sc_image_shape_square sc_image_styled">
													<img src="{% static 'images/team_3.jpg' %}" alt=""/>
												</figure>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</section>

			</div>

{% endblock content %}
