{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

			<div class="page_content_wrap wrap_custom">

					<section class="">
						<div class="container">
							<div class="row">
								<div class="sc_section bg_tint_light aligncenter">
									<div class="sc_content content_wrap">
										<div class="aligncenter margin_bottom_middle">
											<h1 class="sc_title styling1 margin_bottom_small">Galeria de Fotos</h1>
										</div>
										<article class="myportfolio-container flat-light" id="unstyled">
											<div id="esg-grid-2-1" class="esg-grid">
												<ul>
													{% for foto in fotos %}
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{{ foto.imagem_url }}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{{ foto.imagem_url }}" title="{{ foto.nome }} - {{ foto.data }}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													{% endfor %}
													<!-- <li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_49811149_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_49811149_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li> -->
													<!-- <li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_57986203_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_57986203_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="2" data-cobblesh="2">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/bar-chat-chatting-2286.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/bar-chat-chatting-2286.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/kaboompics.com_Water-with-lemon-in-glass.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/kaboompics.com_Water-with-lemon-in-glass.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="3">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/oIpwxeeSPy1cnwYpqJ1w_Dufer-Collateral-test.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/oIpwxeeSPy1cnwYpqJ1w_Dufer-Collateral-test.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_45022533_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href"{% static 'images/Depositphotos_45022533_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_20067713_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_20067713_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_5022744_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_5022744_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/kaboompics.com_Spinach-and-Beetroot-Salad.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/kaboompics.com_Spinach-and-Beetroot-Salad.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_4248292_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_4248292_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_23109712_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_23109712_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_63226171_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_63226171_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_5051904_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_5051904_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/82181814.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/82181814.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_22848496_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_22848496_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_5022728_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_5022728_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/home-1-img-1.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/home-1-img-1.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_62664067_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_62664067_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/team_3.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/team_3.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/team_2.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/team_2.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_56349665_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_56349665_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/beer_table.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/beer_table.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/red-wine-tapas-3540.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/red-wine-tapas-3540.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_18772761_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_18772761_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_5022744_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_5022744_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/picjumbo.com_foodiesfeed.com_DSC_0002.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/picjumbo.com_foodiesfeed.com_DSC_0002.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_50474927_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_50474927_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/picjumbo.com_20140314-DSC_0138.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/picjumbo.com_20140314-DSC_0138.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0003.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0003.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/82181814.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/82181814.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/kaboompics.com_Water-with-lemon-in-glass.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/kaboompics.com_Water-with-lemon-in-glass.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_23109712_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_23109712_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/EnF7DhHROS8OMEp2pCkx_Dufer-food-overhead-hig-res.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/EnF7DhHROS8OMEp2pCkx_Dufer-food-overhead-hig-res.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_49811149_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_49811149_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/beers.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/beers.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_4248292_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_4248292_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Brick-and-Mortar-Brick-and-Mortar-0002.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_51212555_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_51212555_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/red-wine-tapas-3540.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/red-wine-tapas-3540.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/picjumbo.com_20140314-DSC_0138.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/picjumbo.com_20140314-DSC_0138.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_41735639_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_41735639_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_63226171_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_63226171_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_5022728_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_5022728_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													<li class="filterall eg-tavern-skin-wrapper" data-cobblesw="1" data-cobblesh="1">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{% static 'images/Depositphotos_57986203_original.jpg' %}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{% static 'images/Depositphotos_57986203_original.jpg' %}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li> -->
												</ul>
												<article class="esg-filters esg-multiplefilters margin_top_middle">
													<div class="esg-pagination  esg-fgc-2"> </div>
												</article>
												<div class="esg-clear-no-height"> </div>
												<article class="esg-filters esg-multiplefilters esg-navbutton-solo-left">
													<div class="esg-navigationbutton esg-left  esg-fgc-2">
														<i class="eg-icon-left-open"> </i>
													</div>
												</article>
												<div class="esg-clear-no-height"> </div>
												<article class="esg-filters esg-multiplefilters esg-navbutton-solo-right">
													<div class="esg-navigationbutton esg-right  esg-fgc-2">
														<i class="eg-icon-right-open"> </i>
													</div>
												</article>
												<div class="esg-clear-no-height"> </div>
											</div>
										</article>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</section>

			</div>

{% endblock content %}
