{% extends 'blog/base-home.html' %}
{% load staticfiles %}

{% block content %}

<body class="single single-team body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">

	<div class="body_wrap">
		<div class="page_wrap">

			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Início</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">Quem Somos</span>
					</div>
					<h1 class="page_title">Quem Somos</h1>
				</div>
			</div>

			<div class="page_content_wrap">

					<section class="content_wrap no_padding">
						<div class="container">
							<div class="row">
								<article class="post_item post_featured_right team">
									<section class="post_featured">
										<div class="post_thumb" data-image="{% static 'images/500x500.png' %}" data-title="Escola Cervejeira">
											<a class="hover_icon hover_icon_view" href="{{ quem.imagem_url }}" title="Escola Cervejeira">
												<img alt="Escola Cervejeira" src="{{ quem.imagem_url }}">
											</a>
										</div>
									</section>
									<section class="post_content">
										<div class="column-1_2">
											<h3 class="sc_title">Escola Cervejeira</h3>
										</div>
										<div class="">
											<p class="text-justify">{{ quem.descricao }}</p>
										</div>
									</section>
								</article>
							</div>
						</div>
					</section>

			</div>
{% endblock content %}
